chi-cdk/api/chromatix/XSD/stats/awb/awbglobalelements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================-->
<!-- Copyright (c) 2016-2019 Qualcomm Technologies, Inc.                    -->
<!-- All Rights Reserved.                                                   -->
<!-- Confidential and Proprietary - Qualcomm Technologies, Inc.             -->
<!--========================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="..\..\common\globalelements.xsd"/>
	<xs:simpleType name="enableFlagType">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="awbZoneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Rectangle"/>
			<xs:enumeration value="Triangle"/>
			<xs:enumeration value="CCT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="awbTriggerCtrlType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TriggerCtrlLuxIdx"/>
			<xs:enumeration value="TriggerCtrlCCT"/>
			<xs:enumeration value="TriggerCtrlValidStatsCntRatio"/>
			<xs:enumeration value="TriggerCtrlAgwRg"/>
			<xs:enumeration value="TriggerCtrlAgwBg"/>
			<xs:enumeration value="TriggerCtrlZoneGroup0Rg"/>
			<xs:enumeration value="TriggerCtrlZoneGroup0Bg"/>
			<xs:enumeration value="TriggerCtrlZoneGroup0CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup1CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup2CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup3CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneCntRatioValid0"/>
			<xs:enumeration value="TriggerCtrlZoneCntRatio01"/>
			<xs:enumeration value="TriggerCtrlZoneCntRatio02"/>
			<xs:enumeration value="TriggerCtrlZoneCntRatio03"/>
			<xs:enumeration value="TriggerCtrlZoneCntRatio12"/>
			<xs:enumeration value="TriggerCtrlZoneCntRatio13"/>
			<xs:enumeration value="TriggerCtrlZoneCntRatio23"/>
			<xs:enumeration value="TriggerCtrlFlashSensitivity"/>
			<xs:enumeration value="TriggerCtrlZoneGroup0CCT"/>
			<xs:enumeration value="TriggerCtrlDepth"/>
			<xs:enumeration value="TriggerCtrlInfomationType0"/>
			<xs:enumeration value="TriggerCtrlInfomationType1"/>
			<xs:enumeration value="TriggerCtrlInfomationType2"/>
			<xs:enumeration value="TriggerCtrlInfomationType3"/>
			<xs:enumeration value="TriggerCtrlInfomationType4"/>
			<xs:enumeration value="TriggerCtrlInfomationType5"/>
			<xs:enumeration value="TriggerCtrlInfomationType6"/>
			<xs:enumeration value="TriggerCtrlInfomationType7"/>
			<xs:enumeration value="TriggerCtrlInfomationType8"/>
			<xs:enumeration value="TriggerCtrlInfomationType9"/>
			<xs:enumeration value="TriggerCtrlInfomationType10"/>
			<xs:enumeration value="TriggerCtrlInfomationType11"/>
			<xs:enumeration value="TriggerCtrlZoneGroup4CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup5CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup6CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup7CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup8CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup9CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup10CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup11CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup12CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup13CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup14CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup15CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup16CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup17CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup18CntRatio"/>
			<xs:enumeration value="TriggerCtrlZoneGroup19CntRatio"/>
			<xs:enumeration value="TriggerCtrlROIStatsRatio"/>
			<xs:enumeration value="TriggerCtrlROIStatsAverageWeight"/>
			<xs:enumeration value="TriggerCtrlTypeMax"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="awbSAConfidenceCmptType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SAConfidenceMultiply"/>
			<xs:enumeration value="SAConfidenceWeightedAvg"/>
			<xs:enumeration value="SAConfidenceMinimum"/>
			<xs:enumeration value="SAConfidenceMaximum"/>
			<xs:enumeration value="SAConfidenceTypeMax"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="awbSAIntensityWeightCmptType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SAIntensityWeightMinimum"/>
			<xs:enumeration value="SAIntensityWeightMaximum"/>
			<xs:enumeration value="SAIntensityWeightMultiplication"/>
			<xs:enumeration value="SAIntensityWeightAverage"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="awbSATargetCtrlType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SATargetFixedPoint"/>
			<xs:enumeration value="SATargetGAAGWPoint"/>
			<xs:enumeration value="SATargetGAZone0"/>
			<xs:enumeration value="SATargetGAZone1"/>
			<xs:enumeration value="SATargetGAZone2"/>
			<xs:enumeration value="SATargetTypeMAX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="moduleIDType">
		<xs:sequence>
			<xs:element name="moduleID">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="range" type="xs:string" default="[1,1000]"/>
							<xs:attribute name="type" type="xs:string" default="int"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="subModuleID">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="range" type="xs:string" default="[1,1000]"/>
							<xs:attribute name="type" type="xs:string" default="int"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="description" type="xs:string" default="Define module ID, sub module ID"/>
		<xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
	</xs:complexType>
	<xs:complexType name="triggerPointType">
		<xs:sequence>
			<xs:element name="start">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[-100.0,15000.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="end">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[-100.0,15000.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbRGBDataType">
		<xs:sequence>
			<xs:element name="red">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0.0,9999.9]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="green">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0.0,9999.9]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="blue">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0.0,9999.9]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbPointDataType">
		<xs:sequence>
			<xs:element name="rg">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0.0,15000.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="bg">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0.0,15000.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbZoneDataType">
		<xs:sequence>
			<xs:element name="vertex" minOccurs="3" maxOccurs="3">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="awbPointDataType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbFloatDataType">
		<xs:sequence>
			<xs:element name="data">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0.0,9999.9]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbTriggerDataRGBType">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" type="awbRGBDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbTriggerDataZoneType">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="awbZoneDataType">
							<xs:attribute name="description" type="xs:string" default="Rectable: use 2 vertices, Triangle: use 3 vertices"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbTriggerDataPointType">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" type="awbPointDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbTriggerDataFloatType">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" type="awbFloatDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbZoneConfigType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="groupID">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="description" type="xs:string" default="Zone group ID.  Each zone group can consist of several zones"/>
							<xs:attribute name="type" type="xs:string" default="int"/>
							<xs:attribute name="range" type="xs:string" default="[0,10]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="zoneType">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="awbZoneType">
							<xs:attribute name="description" type="xs:string" default="Options of zone Type: Rectangle, Triangle"/>
							<xs:attribute name="type" type="xs:string" default="awbZoneType"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerLevel">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="description" type="xs:string" default="Number of triggering dimension"/>
							<xs:attribute name="type" type="xs:string" default="int"/>
							<xs:attribute name="range" type="xs:string" default="[1,10]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerCtrlType" type="awbTriggerCtrlType" minOccurs="3" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbZoneDefineType">
		<xs:sequence>
			<xs:element name="zoneConfigData" type="awbZoneConfigType"/>
			<xs:element name="triggerPt" type="triggerPointType"/>
			<xs:element name="triggerData" type="awbTriggerDataZoneType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbZoneMLCType">
		<xs:sequence>
			<xs:element name="zoneConfigData" type="awbZoneConfigType"/>
			<xs:element name="triggerPt" type="triggerPointType"/>
			<xs:element name="triggerData" type="awbTriggerDataZoneLevel1Type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbSAConfidenceConfigType">
		<xs:sequence>
			<xs:element name="attribute">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="description" type="xs:string" default="weight value when multiply for confidence compute type is selected"/>
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0.0,100.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerType" type="awbTriggerCtrlType" default="TriggerCtrlLuxIdx" minOccurs="2" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbSAConfidenceDataType">
		<xs:sequence>
			<xs:element name="commonData" type="awbSAConfidenceConfigType"/>
			<xs:element name="triggerPt" type="triggerPointType"/>
			<xs:element name="triggerData" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="awbSAConfidenceLevel2Type">
							<xs:attribute name="description" type="xs:string" default="1st triggering level"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbSAConfidenceLevel2Type">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="awbTriggerDataFloatType">
							<xs:attribute name="description" type="xs:string" default="2nd triggering level"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbSATargetConfigType">
		<xs:sequence>
			<xs:element name="attribute">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="awbSATargetCtrlType">
							<xs:attribute name="description" type="xs:string" default="Target point control type"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerType" default="TriggerCtrlLuxIdx" minOccurs="2" maxOccurs="2">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="awbTriggerCtrlType">
							<xs:attribute name="description" type="xs:string" default="Trigger control type"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbSATargetDataType">
		<xs:sequence>
			<xs:element name="commonData" type="awbSATargetConfigType"/>
			<xs:element name="triggerPt" type="triggerPointType"/>
			<xs:element name="triggerData" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="awbSATargetLevel2Type">
							<xs:attribute name="description" type="xs:string" default="1st triggering level"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbSATargetLevel2Type">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="awbTriggerDataPointType">
							<xs:attribute name="description" type="xs:string" default="2nd triggering level"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbTriggerDataZoneLevel1Type">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="awbTriggerDataZoneLevel2Type">
							<xs:attribute name="description" type="xs:string" default="Rectable: use 2 vertices, Triangle: use 3 vertices"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbTriggerDataZoneLevel2Type">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" type="awbTriggerDataZoneType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CbCrTriggerDataPointType">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" type="CbCrPointDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CbCrPointDataType">
		<xs:sequence>
			<xs:element name="Cb">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0.0,15000.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Cr">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0.0,15000.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbCbCrLevel2Type">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CbCrTriggerDataPointType">
							<xs:attribute name="description" type="xs:string" default="2nd triggering level"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CbCrDiffTriggerDataPointType">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" type="CbCrDiffPointDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CbCrDiffPointDataType">
		<xs:sequence>
			<xs:element name="CbCrDiffMin">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[-256.0,256.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CbCrDiffMax">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[-256.0,256.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbCbCrDiffLevel2Type">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="CbCrDiffTriggerDataPointType">
							<xs:attribute name="description" type="xs:string" default="2nd triggering level"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OutlierDistTriggerDataPointType">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" type="OutlierDistPointDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OutlierDistPointDataType">
		<xs:sequence>
			<xs:element name="Start">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[-1.0,1.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="End">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[-1.0,1.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbOutlierDist2Type">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="OutlierDistTriggerDataPointType">
							<xs:attribute name="description" type="xs:string" default="2nd triggering level"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbWeightedZoneDefineType">
		<xs:sequence>
			<xs:element name="zoneConfigData" type="awbZoneConfigType"/>
			<xs:element name="triggerPt" type="triggerPointType"/>
			<xs:element name="triggerData" type="awbTriggerWeightedZoneLevel1Type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbWeightedZoneDataType">
		<xs:sequence>
			<xs:element name="Weight" type="awbFloatDataType"/>
			<xs:element name="Vertex" minOccurs="3" maxOccurs="3">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="awbPointDataType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbTriggerWeightedZoneDataType">
		<xs:sequence>
			<xs:element name="triggerPt" type="triggerPointType"/>
			<xs:element name="triggerData" type="awbWeightedZoneDataType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbTriggerWeightedZoneLevel2Type">
		<xs:sequence>
			<xs:element name="triggerPt" type="triggerPointType"/>
			<xs:element name="triggerData" type="awbTriggerWeightedZoneDataType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbTriggerWeightedZoneLevel1Type">
		<xs:sequence>
			<xs:element name="triggerPt" type="triggerPointType"/>
			<xs:element name="triggerData" type="awbTriggerWeightedZoneLevel2Type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="awbWeightLUTLevel1Type">
		<xs:sequence>
			<xs:element name="triggerPt">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="triggerPointType">
							<xs:attribute name="tool_hint" default="trigger"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerData" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="awbTriggerDataFloatType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ROIPostionType">
		<xs:sequence>
			<xs:element name="startX">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0,1]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="endX">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0,1]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="startY">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0,1]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="endY">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0,1]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
  <xs:simpleType name="awbGWVTriggerCtrlType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="gwvTriggerCtrlLuxIdx"/>
			<xs:enumeration value="gwvTriggerCtrlCCT"/>
      <xs:enumeration value="gwvTriggerCtrlDistance"/>
      <xs:enumeration value="gwvTriggerCtrlLuminance"/>
			<xs:enumeration value="gwvTriggerCtrlFlashSensitivity"/>
			<xs:enumeration value="gwvTriggerCtrlDepth"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType0"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType1"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType2"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType3"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType4"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType5"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType6"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType7"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType8"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType9"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType10"/>
			<xs:enumeration value="gwvTriggerCtrlInfomationType11"/>			
			<xs:enumeration value="gwvTriggerCtrlTypeMax"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="awbGWVTriggerConfigType">
		<xs:sequence>
			<xs:element name="attribute">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="description" type="xs:string" default="weight value when multiply for confidence compute type is selected"/>
							<xs:attribute name="type" type="xs:string" default="float"/>
							<xs:attribute name="range" type="xs:string" default="[0.0,100.0]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="triggerType" type="awbGWVTriggerCtrlType" default="gwvTriggerCtrlLuxIdx" minOccurs="3" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
