chi-cdk/api/sensor/camxpdafconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================-->
<!-- Copyright (c) 2017-2019 Qualcomm Technologies, Inc.                         -->
<!-- All Rights Reserved.                                                   -->
<!-- Confidential and Proprietary - Qualcomm Technologies, Inc.             -->
<!--========================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="camxsensorcommon.xsd"/>

    <!-- Simple Type Definitions -->

    <xs:simpleType name="PDAFPixelShieldInformation">
        <xs:annotation>
            <xs:documentation>PDAF Pixel Shield Information</xs:documentation>
        </xs:annotation>
        <xs:restriction base= "xs:string">
        <xs:enumeration value="LEFTDIODE"/>
        <xs:enumeration value="RIGHTDIODE"/>
        <xs:enumeration value="LEFTSHIELDED"/>
        <xs:enumeration value="RIGHTSHIELDED"/>
        <xs:enumeration value="UPDIODE"/>
        <xs:enumeration value="DOWNDIODE"/>
        <xs:enumeration value="UPSHIELDED"/>
        <xs:enumeration value="DOWNSHIELDED"/>
        <xs:enumeration value="TOPLEFTDIODE"/>
        <xs:enumeration value="TOPRIGHTDIODE"/>
        <xs:enumeration value="BOTTOMLEFTDIODE"/>
        <xs:enumeration value="BOTTOMRIGHTDIODE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PDAFOrientation">
        <xs:annotation>
            <xs:documentation>PDAF Sensor Orientation</xs:documentation>
        </xs:annotation>
        <xs:restriction base= "xs:string">
        <xs:enumeration value="DEFAULT"/>
        <xs:enumeration value="MIRROR"/>
        <xs:enumeration value="FLIP"/>
        <xs:enumeration value="MIRRORANDFLIP"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PDAFBufferDataFormat">
        <xs:annotation>
            <xs:documentation>PDAF Buffer Data Format</xs:documentation>
            <xs:documentation>MIPI10:   compressed, [9:2] [9:2] [9:2] [9:2] [1:0][1:0][1:0][1:0]</xs:documentation>
            <xs:documentation>PACKED10: Q10 format</xs:documentation>
        </xs:annotation>
        <xs:restriction base= "xs:string">
        <xs:enumeration value="MIPI8"/>
        <xs:enumeration value="MIPI10"/>
        <xs:enumeration value="PACKED10"/>
        <xs:enumeration value="UNPACKED16"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PDAFPixelOrderType">
        <xs:annotation>
            <xs:documentation>PDAF Pixel Order Type</xs:documentation>
        </xs:annotation>
        <xs:restriction base= "xs:string">
        <xs:enumeration value="DEFAULT"/>
        <xs:enumeration value="LEFTTORIGHT"/>
        <xs:enumeration value="RIGHTTOLEFT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PDAFType">
        <xs:annotation>
            <xs:documentation>PDAF Type</xs:documentation>
        </xs:annotation>
        <xs:restriction base= "xs:string">
        <xs:enumeration value="PDTypeUnknown"/>
        <xs:enumeration value="PDType1"/>
        <xs:enumeration value="PDType2"/>
        <xs:enumeration value="PDType3"/>
        <xs:enumeration value="PDType2PD"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SensorPDStatsFormat">
        <xs:annotation>
            <xs:documentation>Sensor PD Stats Format for TYPE1</xs:documentation>
            <xs:documentation>SensorPDStatsCustom: Opaque PD Stats format, need customer parse the pd stats</xs:documentation>
            <xs:documentation>SensorPDStatsRaw10Conf8BitPd10Bit: Sensor Pd Stats is Raw10 Confidence 8bit Pd 10bit format </xs:documentation>
            <xs:documentation>SensorPDStatsRaw10Conf11BitPd11Bit: Sensor Pd Stats is Raw10 Confidence 11bit Pd 11bit format </xs:documentation>
            <xs:documentation>SensorPDStatsRaw10Conf11BitPd10Bit: Sensor Pd Stats is Raw10 Confidence 11bit Pd 10bit format </xs:documentation>
            </xs:annotation>
        <xs:restriction base= "xs:string">
            <xs:enumeration value="SensorPDStatsCustom"/>
            <xs:enumeration value="SensorPDStatsRaw10Conf8BitPd10Bit"/>
            <xs:enumeration value="SensorPDStatsRaw10Conf11BitPd11Bit"/>
            <xs:enumeration value="SensorPDStatsRaw10Conf11BitPd10Bit"/>
            </xs:restriction>
    </xs:simpleType>

    <!-- Complex Type Definitions -->

    <xs:complexType name="PDAFInformation">
        <xs:annotation>
            <xs:documentation>PDAF information</xs:documentation>
        </xs:annotation>
        <xs:sequence>

        <!-- element for PDAF Name -->
        <xs:element name="PDAFName" type="xs:string">
            <xs:annotation>
                <xs:documentation>PDAF Name</xs:documentation>
            </xs:annotation>
        </xs:element>

        <!-- element for orientation -->
        <xs:element name="PDOrientation" type="PDAFOrientation">
            <xs:annotation>
                <xs:documentation>PDAF Sensor orientation</xs:documentation>
                <xs:documentation>Valid values: DEFAULT, MIRROR, FLIP, MIRRORANDFLIP</xs:documentation>
            </xs:annotation>
        </xs:element>

        <!-- element for defocus confidence threshold -->
        <xs:element name="PDDefocusConfidenceThreshold" type="xs:int">
            <xs:annotation>
                <xs:documentation>Defocus confidence threshold level</xs:documentation>
            </xs:annotation>
        </xs:element>

        <!-- element for PD Black Level -->
        <xs:element name="PDBlackLevel" type="xs:unsignedInt" minOccurs="0" default="0">
            <xs:annotation>
                <xs:documentation>For sensors that use internal ISP and process the PD data before</xs:documentation>
                <xs:documentation>the data is transmitted out of the sensor, this field can be used</xs:documentation>
                <xs:documentation>to set correct black level for PD pixels if it is different from</xs:documentation>
                <xs:documentation>image pixel black level.</xs:documentation>
            </xs:annotation>
        </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PDAFPixelCoordinates">
        <xs:annotation>
            <xs:documentation>One pixel coordinate in a block</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name ="PDXCoordinate"            type="xs:unsignedInt"/>
            <xs:element name ="PDYCoordinate"            type="xs:unsignedInt"/>
            <xs:element name ="PDPixelShieldInformation" type="PDAFPixelShieldInformation"/>
        </xs:sequence>
    </xs:complexType>

  <xs:complexType name="PDAFBlockPattern">
    <xs:annotation>
      <xs:documentation>Block Pattern details of one block</xs:documentation>
      <xs:documentation>PDPixelCount:  PDAF pixel number inside a window</xs:documentation>
      <xs:documentation>PDPixelCoordinates: Pixel 2D pos, left_pixel,right_pixel</xs:documentation>
      <xs:documentation>Should not contain the offset.</xs:documentation>
      <xs:documentation>Offset should add back for correct skip pattern.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name ="PDPixelCount"         type="xs:unsignedInt"/>
      <xs:element name ="PDPixelCoordinates"   type="PDAFPixelCoordinates" maxOccurs="256"/>
      <xs:element name ="PDBlockDimensions"    type="Dimension"/>
      <xs:element name ="PDOffsetHorizontal"   type="xs:unsignedInt"/>
      <xs:element name ="PDOffsetVertical"     type="xs:unsignedInt"/>
    </xs:sequence>
  </xs:complexType>

    <xs:complexType name="PDAFSensorNativePatternInformation">
        <xs:annotation>
            <xs:documentation>Sensor Native pattern infomation</xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <!-- element for pdBlockCountHorizontal -->
            <xs:element name="PDBlockCountHorizontal" type="xs:unsignedInt">
                <xs:annotation>
                    <xs:documentation>Number of PD blocks in X direction</xs:documentation>
                    <xs:documentation>2PD: PD Image Width</xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- element for pdBlockCountVertical -->
            <xs:element name="PDBlockCountVertical" type="xs:unsignedInt">
                <xs:annotation>
                    <xs:documentation>Number of PD blocks in Y direction</xs:documentation>
                    <xs:documentation>2PD: PD Image Height</xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- element for PD Block Pattern -->
            <xs:element name="PDBlockPattern" type="PDAFBlockPattern" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>PD Block Pattern</xs:documentation>
                </xs:annotation>
            </xs:element>

            <!-- element for PD Crop Region -->
            <xs:element name="PDCropRegion" type="FrameDimension">
                <xs:annotation>
                    <xs:documentation>In-sensor Cropped region</xs:documentation>
                </xs:annotation>
            </xs:element>

          <!-- element for downscale factor horizontal -->
          <xs:element name="PDDownscaleFactorHorizontal" type="xs:float">
            <xs:annotation>
              <xs:documentation>Horizontal Downscale factor</xs:documentation>
            </xs:annotation>
          </xs:element>

          <!-- element for downscale factor vertical -->
          <xs:element name="PDDownscaleFactorVertical" type="xs:float">
            <xs:annotation>
              <xs:documentation>Vertical Downscale factor</xs:documentation>
            </xs:annotation>
          </xs:element>

          <!-- element for native buffer format -->
          <xs:element name="PDNativeBufferFormat"   type="PDAFBufferDataFormat"/>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PDAFBlockPatternInformation">
        <xs:annotation>
            <xs:documentation>Block Pattern Info about all the blocks</xs:documentation>
            <xs:documentation>PDStride: This is the number of pixels in the PD stats buffer</xs:documentation>
            <xs:documentation>after which there is a jump to a new line.</xs:documentation>
            <xs:documentation>PDBufferDataFormat: This is the data type of output stats buffer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PDStride"         type="xs:unsignedInt"/>
            <xs:element name="PDBufferFormat"   type="PDAFBufferDataFormat"/>
            <xs:element name="PDBlockPattern"   type="PDAFBlockPattern" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PDAFModeInformation">
        <xs:annotation>
            <xs:documentation>PDAF Mode information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <!-- element for PD Native Pattern Info-->
            <!-- This is not needed for Type1 PDAF sensors -->
            <xs:element name="PDSensorNativePatternInfo" type="PDAFSensorNativePatternInformation" minOccurs="0"/>

            <!-- element for PD Block Pattern Info-->
            <!-- This is not needed for Type1 PDAF sensors -->
            <!-- This may be absent in Type3 PDAF Sensors -->
            <xs:element name="PDBufferBlockPatternInfo"  type="PDAFBlockPatternInformation" minOccurs="0"/>

            <!-- element for PD Type -->
            <xs:element name="PDType" type="PDAFType">
              <xs:annotation>
                <xs:documentation>PD Type</xs:documentation>
                <xs:documentation>Valid Values: PDType1, PDType2, PDType3, PDType2PD</xs:documentation>
              </xs:annotation>
            </xs:element>

            <!-- element for corresponding sensor mode -->
            <xs:element name="PDSensorMode" type="xs:unsignedInt">
              <xs:annotation>
                <xs:documentation>Corresponding sensor mode for this PDAF mode.</xs:documentation>
              </xs:annotation>
            </xs:element>

            <!-- element for PDAF Library Name -->
            <xs:element name="PDAFLibraryName" type="xs:string">
              <xs:annotation>
                <xs:documentation>PDAF Library Name</xs:documentation>
              </xs:annotation>
            </xs:element>

            <!-- element for type1 sensor pd stats format -->
            <xs:element name="PDSensorPDStatsFormat" type="SensorPDStatsFormat" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Sensor PD Stats Format for Type1</xs:documentation>
              </xs:annotation>
            </xs:element>

            <!-- element for type1 sensor to specify output format -->
            <xs:element name="PDSensorOutputFormat" type="PDAFBufferDataFormat" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Sensor Output Buffer Format for Type1 to be used for buffer allocation.</xs:documentation>
                <xs:documentation>Default is UNPACKED16</xs:documentation>
              </xs:annotation>
            </xs:element>

            <!-- element for advanced sparse PD offset correction -->
            <xs:element name="lcrPDOffsetCorrection" type="xs:float" minOccurs="0">
              <xs:annotation>
                <xs:documentation>LCR PD Offset Correction</xs:documentation>
              </xs:annotation>
            </xs:element>

            <!-- This is not needed for Type1, Type2 and Type3 PDAF sensors -->
            <!-- element for type2PD PD pixel order -->
            <xs:element name="PDPixelOrderType" type="PDAFPixelOrderType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>For 2PD sensors: this field identifies the PD pixels order when all the pixels</xs:documentation>
                    <xs:documentation>are PD pixels.</xs:documentation>
                    <xs:documentation>Valid Values: LEFTTORIGHT, RIGHTTOLEFT</xs:documentation>
                </xs:annotation>
            </xs:element>

        <!-- element for PD Offset Correction -->
        <xs:element name="PDOffsetCorrection" type="xs:float" minOccurs="0" default="0">
            <xs:annotation>
                <xs:documentation>PD Offset Correction</xs:documentation>
            </xs:annotation>
        </xs:element>

        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PDAFConfigurationData">
        <xs:sequence>
            <xs:element name="module_version">
                <xs:complexType>
                    <xs:attribute name="major_revision" type="xs:int" default="1"/>
                    <xs:attribute name="minor_revision" type="xs:int" default="0"/>
                    <xs:attribute name="incr_revision"  type="xs:int" default="0"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="PDCommonInfo"   type="PDAFInformation"/>
            <xs:element name="PDModeInfo"     type="PDAFModeInformation" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- PDAF Configuration Data -->
    <xs:element name="PDConfigData" type="PDAFConfigurationData"/>
</xs:schema>
