chi-cdk/api/chromatix/XSD/stats/aec/aecStatsConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================-->
<!-- Copyright (c) 2016-2019 Qualcomm Technologies, Inc.                    -->
<!-- All Rights Reserved.                                                   -->
<!-- Confidential and Proprietary - Qualcomm Technologies, Inc.             -->
<!--========================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="..\..\common\globalelements.xsd"/>
	<xs:include schemaLocation="aecglobalelements.xsd"/>
	<!--

Core Stats Configuration Tuning Definition

-->
	<xs:element name="StatsDefaultConfig" type="AECStatsConfig"/>
	<xs:simpleType name="AECROIConfigControlType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AECROIConfigControlTypeCroppedFOV"/>
			<xs:enumeration value="AECROIConfigControlTypeFullFOV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AECGridStatsConfig">
		<xs:sequence>
			<xs:element name="numOfRegionsHorizontal">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:unsignedShort">
							<xs:attribute name="type" default="ushort"/>
							<xs:attribute name="description" type="xs:string" default="Number of Horizontal Regions for AEC stats grid"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
							<xs:attribute name="range" type="xs:string" default="[1,64]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="numOfRegionsVertical">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:unsignedShort">
							<xs:attribute name="type" default="ushort"/>
							<xs:attribute name="description" type="xs:string" default="Number of Vertical Regions for AEC stats grid"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
							<xs:attribute name="range" type="xs:string" default="[1,48]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="enableStatsQuadSync">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="type" default="bool"/>
							<xs:attribute name="description" type="xs:string" default="Flag to enable bayer pixel Quad sync for saturated stats handling. Enabling will synchronize saturation decision for each pixel quad"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="enableSaturatedStats">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="type" default="bool"/>
							<xs:attribute name="description" type="xs:string" default="Flag to enable Saturated Stats output. Enabling this will give more information on saturated pixels with bigger stats output buffer size. Disable if power is of higher concern."/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="enableYComputedStats">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="type" default="bool"/>
							<xs:attribute name="description" type="xs:string" default="Flag to enable Luma stats to be computed from color channels into single Channel Stats"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="YComputationColorWeight" minOccurs="3" maxOccurs="3">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" default="float"/>
							<xs:attribute name="description" type="xs:string" default="RGB channel weight for computing Y luma for HW stats. If enableYComputedStats is set to true, these values will be used to compute Y value"/>
							<xs:attribute name="range" type="xs:string" default="[0, 1]"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="minStatsChannelThreshold" minOccurs="4" maxOccurs="4">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" default="float"/>
							<xs:attribute name="description" type="xs:string" default="Logical value of minimun pixel value of each bayer channel (R, Gr, Gb, B) to be accumulated, value below this value will be dropped, given HW support min thresholding. Value Range between 0 to 1. Value will be translated to HW Bit Depth"/>
							<xs:attribute name="range" type="xs:string" default="[0, 1]"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="maxStatsChannelThreshold" minOccurs="4" maxOccurs="4">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="type" default="float"/>
							<xs:attribute name="description" type="xs:string" default="Logical value of maximum pixel value of each bayer channel (R, Gr, Gb, B) to be accumulated, value above this value will be dropped. Value Range between 0 to 1. Value will be translated to HW Bit Depth"/>
							<xs:attribute name="range" type="xs:string" default="[0, 1]"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="HWStatsSkipFactor">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:unsignedByte">
							<xs:attribute name="type" default="byte"/>
							<xs:attribute name="description" type="xs:string" default="Specify HW grid skipping pattern based on power and accuracy trade-off. value of X means keeping 1 grid every 2^X grid. value of zero means no skipping. Maximum supported value is 2"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
							<xs:attribute name="range" type="xs:string" default="[0,2]"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ROIConfigControl" default="AECROIConfigControlTypeCroppedFOV">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AECROIConfigControlType">
							<xs:attribute name="description" type="xs:string" default="Select ROI configuration type. AECROIConfigControlTypeCroppedFOV means follow Zoomed FOV; AECROIConfigControlTypeFullFOV means use Full FOV from Sensor. Default value: AECROIConfigControlTypeCroppedFOV"/>
							<xs:attribute name="range" type="xs:string" default="[0,1]"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="bitDepth" default="14">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="description" type="xs:string" default="stats bit depth"/>
							<xs:attribute name="range" type="xs:string" default="[8,14]"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="siteSelection" default="BeforeDemosaic">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AECStatsSiteSelection">
							<xs:attribute name="description" type="xs:string" default="select where in ISP stats are tapped out"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="pixelExpSelect" default="ShortPixels">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AECStatsPixelExpSelect">
							<xs:attribute name="description" type="xs:string" default="select short or long exposure pixels"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="regionSampling" default="65535">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attribute name="description" type="xs:string" default="advanced sampling configuration"/>
							<xs:attribute name="range" type="xs:string" default="[0,65535]"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AECHistStatsConfig">
		<xs:sequence>
			<xs:element name="ROIConfigControl" default="AECROIConfigControlTypeCroppedFOV">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AECROIConfigControlType">
							<xs:attribute name="description" type="xs:string" default="Select ROI configuration type. AECROIConfigControlTypeCroppedFOV means follow Zoomed FOV; AECROIConfigControlTypeFullFOV means use Full FOV from Sensor. Default value: AECROIConfigControlTypeCroppedFOV"/>
							<xs:attribute name="range" type="xs:string" default="[0,1]"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="histograms" type="HistIndividualConfigType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HistIndividualConfigType">
		<xs:sequence>
			<xs:element name="histogramType" default="HistogramHDRBHIST">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AECStatsHistogramType">
							<xs:attribute name="description" type="xs:string" default="identifies which histogram is being requested"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="binUniformity" default="Even">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AECStatsHistogramUniformityType">
							<xs:attribute name="description" type="xs:string" default="some histograms can be configured to output uneven bins with more resolution is shadows and less in highlights"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="colorChannel" default="ChannelRGrB">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AECStatsHistogramChannelType">
							<xs:attribute name="description" type="xs:string" default="select histogram color channel"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="siteSelection" default="BeforeDemosaic">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AECStatsSiteSelection">
							<xs:attribute name="description" type="xs:string" default="select where in ISP stats are tapped out"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="pixelExpSelect" default="ShortPixels">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AECStatsPixelExpSelect">
							<xs:attribute name="description" type="xs:string" default="select short or long exposure pixels"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ROIConfigControl" default="AECROIConfigControlTypeCroppedFOV">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AECROIConfigControlType">
							<xs:attribute name="description" type="xs:string" default="Select ROI configuration type. AECROIConfigControlTypeCroppedFOV means follow Zoomed FOV; AECROIConfigControlTypeFullFOV means use Full FOV from Sensor. Default value: AECROIConfigControlTypeCroppedFOV"/>
							<xs:attribute name="range" type="xs:string" default="[0,1]"/>
							<xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AECStatsConfig">
		<xs:sequence>
			<xs:element name="module_version">
				<xs:complexType>
					<xs:attribute name="major_revision" type="xs:int" fixed="8"/>
					<xs:attribute name="minor_revision" type="xs:int" fixed="0"/>
					<xs:attribute name="incr_revision" type="xs:int" fixed="0"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="parameter_version">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="revision" type="xs:string" default="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="histStatsConfig" type="AECHistStatsConfig"/>
			<xs:element name="gridStatsConfig" type="AECGridStatsConfig"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
