chi-cdk/api/chromatix/XSD/isp/cvp_1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================-->
<!-- Copyright (c) 2018-2019 Qualcomm Technologies, Inc.                    -->
<!-- All Rights Reserved.                                                   -->
<!-- Confidential and Proprietary - Qualcomm Technologies, Inc.             -->
<!--========================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ispglobalelements.xsd"/>
    <xs:element name="cvp10_ipe" type="chromatix_cvp10Type">
        <xs:annotation>
            <xs:documentation>chromatix cvp module parameters</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="chromatix_cvp10_reserveType">
        <xs:sequence>
            <xs:element name="image_based_alignment_enable">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Enable image based registration. "/>
                            <xs:attribute name="default_value" type="xs:string" default="1"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 1]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="1u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="descriptor_lpf">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Enable 5x5 filtering before calculating descriptor. "/>
                            <xs:attribute name="default_value" type="xs:string" default="1"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 1]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="1u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Hide in GUI ! Constant: no dynamic configuration even when control variable change."/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="fpx_score_shift">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Feature score shift value. Camera SW translate chromatix range to FW range. 0: shift by 0, 1: shift by 4 ,2: shift by 8, 3 shift by 12. "/>
                            <xs:attribute name="default_value" type="xs:string" default="3"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 3]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="2u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Hide in GUI ! Constant: no dynamic configuration even when control variable change."/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="inlier_track_enable">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Enabling inlier tracking, Improve decistion's coherency between frames. "/>
                            <xs:attribute name="default_value" type="xs:string" default="1"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 1]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="1u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Hide in GUI ! Constant: no dynamic configuration even when control variable change."/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="transform_model">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Defines which transform model to use during transform estimation stage (0=projective, 1=affine, 2=rigid, 3=rigid with post-processing). "/>
                            <xs:attribute name="default_value" type="xs:string" default="0"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 3]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="2u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Hide in GUI ! Constant: no dynamic configuration even when control variable change."/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cvp10_rgn_dataType">
        <xs:sequence>
            <xs:element name="robustness_max_allowed_ncc">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Maximum allowed NCC If NCC exceeds this threshold the block will be marked invalid (probably ME problem due to occlusion, too fast motion, etc). "/>
                            <xs:attribute name="default_value" type="xs:string" default="800"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 2047]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="11u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="robustness_min_allowed_tar_var">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Minimum allowed tar variance value. If below this value (non-informative block) - the block will be marked invalid. "/>
                            <xs:attribute name="default_value" type="xs:string" default="10"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 65535]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="16u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="robustness_meaningful_ncc_diff">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Locations with NCC difference below this threshold are considered to have exactly the same similarity measure. "/>
                            <xs:attribute name="default_value" type="xs:string" default="5"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 2047]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="11u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="robustness_measure_dist_map_tab">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="robustness_measure_dist_map">
                            <xs:simpleType>
                                <xs:restriction base="uintvar">
                                    <xs:length value="8"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="description" type="xs:string" default="Provides a requirement on minimal normalized difference of SADs at distance 1-8 pixels (for big distances the expected differences should be big). Default values: 0, 128, 128, 128, 128, 128, 128, 128 (no penalty to single pixel distance; afterwards same penalty for all other distances). "/>
                    <xs:attribute name="default_value" type="xs:string" default="0, 128, 128, 128, 128, 128, 128, 128"/>
                    <xs:attribute name="range" type="xs:string" default="[0, 511]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="9u"/>
                    <xs:attribute name="length" type="xs:int" fixed="8"/>
                    <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                    <xs:attribute name="tool_hint" default="float"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="fpx_threshold">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Corner with Harris measure value lower than this value will be ignored, this parameter is related to   reg_flow_ hcd_cm_shift. "/>
                            <xs:attribute name="default_value" type="xs:string" default="3"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 65535]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="16u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear Floor Interpolation: Do Linear Interpolation and then Floor."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="desc_match_threshold">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Hamming distance between two descriptors below which the blocks are considered as match. Camera SW Should force the number to be module 4. "/>
                            <xs:attribute name="default_value" type="xs:string" default="52"/>
                            <xs:attribute name="range" type="xs:string" default="[32, 92]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="8u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear Floor Interpolation: Do Linear Interpolation and then Floor."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="enable_transform_confidence">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Whether to calculate and apply transform confidence (based on coverage of the frame by  calculated valid MVs). Frames with higher coverage get higher confidence. "/>
                            <xs:attribute name="default_value" type="xs:string" default="1"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 1]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="1u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="transform_confidence_mapping_base">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Defines mapping function from calculated transform confidence to actually used transform confidence. The calculated confidence is in the range 0:256 (8 bit fraction). The mapping is:  actual confidence =  transform_confidence_mapping_base when calculated confidence  is less than or equal to  transform_confidence_mapping_c1; 256 when calculated confidence is greater than transform_confidence_mapping_c2 and linear interpolation in-between. Not relevant for multi frame flows. "/>
                            <xs:attribute name="default_value" type="xs:string" default="128"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 255]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="8u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="transform_confidence_mapping_c1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Defines mapping function from calculated transform confidence to actually used transform confidence. The calculated confidence is in the range 0:256 (8 bit fraction). The mapping is:  actual confidence =  transform_confidence_mapping_base when calculated confidence  is less than or equal to  transform_confidence_mapping_c1; 256 when calculated confidence is greater than transform_confidence_mapping_c2 and linear interpolation in-between. Not relevant for multi frame flows. "/>
                            <xs:attribute name="default_value" type="xs:string" default="100"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 255]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="8u, Q7"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="transform_confidence_mapping_c2">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="Defines mapping function from calculated transform confidence to actually used transform confidence. The calculated confidence is in the range 0:256 (8 bit fraction). The mapping is:  actual confidence =  transform_confidence_mapping_base when calculated confidence  is less than or equal to  transform_confidence_mapping_c1; 256 when calculated confidence is greater than transform_confidence_mapping_c2 and linear interpolation in-between. Not relevant for multi frame flows. "/>
                            <xs:attribute name="default_value" type="xs:string" default="240"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 255]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="8u, Q7"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="transform_confidence_thr_to_force_identity_transform">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="When calculated transform confidence (before mapping) is below this threshold, the transform is ignored and replaced by identity transform. Hysteresis is used on this parameter to avoid excessive switching. "/>
                            <xs:attribute name="default_value" type="xs:string" default="100"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 255]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="8u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="multi_frame_input_resolution">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:unsignedInt">
                            <xs:attribute name="type" default="uint"/>
                            <xs:attribute name="description" type="xs:string" default="This Parameter is relevant form multi frame flows. The parameter defines the input resolution of the alignement process. 0:1440p, 1:1280p, 2:1080p, 3:960p, 4:720p, 5:540p 6:270p. Maximal image width supported is 1920. In case input image width is greater than 1920. The biggest resolution in which width  is less than or equal to 1920 will be chosen. "/>
                            <xs:attribute name="default_value" type="xs:string" default="0"/>
                            <xs:attribute name="range" type="xs:string" default="[0, 6]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="4u"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear Floor Interpolation: Do Linear Interpolation and then Floor."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="video_registration_down_scale_ratio">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:float">
                            <xs:attribute name="type" default="float"/>
                            <xs:attribute name="description" type="xs:string" default="This parameter is relevant to VSR video flow. In order to reduce the noise level, extra down scale is performed before registration. The parameter sets the controls the downscale ratio. In case value == 1 no downscaling is done before registration. "/>
                            <xs:attribute name="default_value" type="xs:string" default="1.0"/>
                            <xs:attribute name="range" type="xs:string" default="[1, 6]"/>
                            <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                            <xs:attribute name="length" type="xs:int" fixed="1"/>
                            <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                            <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                            <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                            <xs:attribute name="tool_hint" default="float"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="mod_cvp10_aec_dataType">
       <xs:sequence>
           <xs:element name="aec_trigger" type="trigger_pt_type_aec"/>
           <xs:element name="cvp10_rgn_data" type="cvp10_rgn_dataType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="mod_cvp10_hdr_aec_dataType">
       <xs:sequence>
           <xs:element name="hdr_aec_trigger" type="trigger_pt_type_aec_hdr"/>
           <xs:element name="hdr_aec_data">
               <xs:complexType>
                   <xs:sequence maxOccurs="unbounded">
                       <xs:element name="mod_cvp10_aec_data" type="mod_cvp10_aec_dataType"/>
                   </xs:sequence>
               </xs:complexType>
           </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="mod_cvp10_pre_scale_ratio_dataType">
       <xs:sequence>
           <xs:element name="pre_scale_ratio_trigger" type="trigger_pt_type"/>
           <xs:element name="pre_scale_ratio_data">
               <xs:complexType>
                   <xs:sequence maxOccurs="unbounded">
                       <xs:element name="mod_cvp10_hdr_aec_data" type="mod_cvp10_hdr_aec_dataType"/>
                   </xs:sequence>
               </xs:complexType>
           </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="chromatix_cvp10_coreType">
                   <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_cvp10_pre_scale_ratio_data" type="mod_cvp10_pre_scale_ratio_dataType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="chromatix_cvp10Type">
        <xs:sequence>
            <xs:element name="module_version">
                <xs:complexType>
                    <xs:attribute name="major_revision" type="xs:int" default="1"/>
                    <xs:attribute name="minor_revision" type="xs:int" default="0"/>
                    <xs:attribute name="incr_revision" type="xs:int" default="0"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="parameter_version">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="revision" type="xs:string" default="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="control_variables">
                <xs:complexType>
                    <xs:sequence minOccurs="3" maxOccurs="3">
                        <xs:element name="control_var_type">
                            <xs:simpleType>
                                <xs:restriction base="control_var_type">
                                    <xs:pattern value="control_pre_scale_ratio"/>
                                    <xs:pattern value="control_exp_time_ratio"/>
                                    <xs:pattern value="control_aec_exp_sensitivity_ratio"/>
                                    <xs:pattern value="control_lux_idx"/>
                                    <xs:pattern value="control_gain"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="default_value" type="xs:string" default="control_pre_scale_ratio, control_aec_exp_sensitivity_ratio, control_gain"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="control_method">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="aec_exp_control" type="tuning_control_aec_type" default="control_gain"/>
                        <xs:element name="aec_hdr_control" type="tuning_control_aec_hdr_type" default="control_aec_exp_sensitivity_ratio"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="chromatix_cvp10_reserve" type="chromatix_cvp10_reserveType"/>
            <xs:element name="chromatix_cvp10_core" type="chromatix_cvp10_coreType"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
