chi-cdk/api/chromatix/XSD/isp/eis_1_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================-->
<!-- Copyright (c) 2018-2019 Qualcomm Technologies, Inc.                    -->
<!-- All Rights Reserved.                                                   -->
<!-- Confidential and Proprietary - Qualcomm Technologies, Inc.             -->
<!--========================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="ispglobalelements.xsd"/>
    <xs:element name="eis11_sw" type="chromatix_eis11Type">
        <xs:annotation>
            <xs:documentation>chromatix eis11 module parameters</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="chromatix_eis11_reserveType">
        <xs:sequence>
    <xs:element name="general">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="minimal_total_margin_x">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Minimal total margins ratio for x axis (physical + virtual), regards input image size and represent sum of both sides. If physical margins are not sufficient, virtual margins will be used to get to the minimal_total_margin. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.2"/>
                                <xs:attribute name="range" type="xs:string" default="[0.1, 0.6]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="minimal_total_margin_y">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Minimal total margins ratio for y axis (physical + virtual), regards input image size and represent sum of both sides. If physical margins are not sufficient, virtual margins will be used to get to the minimal_total_margin. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.2"/>
                                <xs:attribute name="range" type="xs:string" default="[0.1, 0.6]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="focal_length">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:unsignedInt">
                                <xs:attribute name="type" default="uint"/>
                                <xs:attribute name="description" type="xs:string" default="Focal length in pixel units for horizontal size of 1920. This value is scaled for other resolutions. "/>
                                <xs:attribute name="default_value" type="xs:string" default="1600"/>
                                <xs:attribute name="range" type="xs:string" default="[0, 65535]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="16u"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="gyro_frequency">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:unsignedInt">
                                <xs:attribute name="type" default="uint"/>
                                <xs:attribute name="description" type="xs:string" default="Gyro sampling frequency in Hz. Has to match actual gyro sampling frequency. "/>
                                <xs:attribute name="default_value" type="xs:string" default="500"/>
                                <xs:attribute name="range" type="xs:string" default="[200, 2000]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="16u"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="gyro_noise_floor">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Gyro noise floor. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.003"/>
                                <xs:attribute name="range" type="xs:string" default="[0, 0.1]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_param_1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Reserved parameter 1. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_param_2">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Reserved parameter 2. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_param_3">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Reserved parameter 3. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_param_4">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Reserved parameter 4. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_param_5">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Reserved parameter 5. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_param_6">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Reserved parameter 6. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_param_7">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Reserved parameter 7. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_param_8">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Reserved parameter 8. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_param_9">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Reserved parameter 9. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_param_10">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Reserved parameter 10. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_lut_param_1_tab">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="res_lut_param_1">
                                <xs:simpleType>
                                    <xs:restriction base="floatvar">
                                        <xs:length value="32"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="description" type="xs:string" default="Reserved Lut parameter 1. "/>
                        <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                        <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                        <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                        <xs:attribute name="length" type="xs:int" fixed="32"/>
                        <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                        <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                        <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_lut_param_2_tab">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="res_lut_param_2">
                                <xs:simpleType>
                                    <xs:restriction base="floatvar">
                                        <xs:length value="32"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="description" type="xs:string" default="Reserved Lut parameter 2. "/>
                        <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                        <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                        <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                        <xs:attribute name="length" type="xs:int" fixed="32"/>
                        <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                        <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                        <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="res_lut_param_3_tab">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="res_lut_param_3">
                                <xs:simpleType>
                                    <xs:restriction base="uintvar">
                                        <xs:length value="16"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="description" type="xs:string" default="Reserved Lut parameter 3. "/>
                        <xs:attribute name="default_value" type="xs:string" default="0"/>
                        <xs:attribute name="range" type="xs:string" default="[0, 4294967295]"/>
                        <xs:attribute name="bit_depth" type="xs:string" default="32u"/>
                        <xs:attribute name="length" type="xs:int" fixed="16"/>
                        <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                        <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
                        <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="timing">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="s3d_offset_1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:int">
                                <xs:attribute name="type" default="int"/>
                                <xs:attribute name="description" type="xs:string" default="offset to adjust the 3D shake gyro interval start/end times to better align with the frame. (Offset between gyro timing and sof timing in ms). "/>
                                <xs:attribute name="default_value" type="xs:string" default="0"/>
                                <xs:attribute name="range" type="xs:string" default="[-30000, 30000]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="32s"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="s3d_offset_2">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:int">
                                <xs:attribute name="type" default="int"/>
                                <xs:attribute name="description" type="xs:string" default="offset to adjust the 3D shake gyro interval start/end times to better align with the frame. (Offset between gyro timing and sof timing in ms). "/>
                                <xs:attribute name="default_value" type="xs:string" default="0"/>
                                <xs:attribute name="range" type="xs:string" default="[-30000, 30000]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="32s"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="s3d_offset_3">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:int">
                                <xs:attribute name="type" default="int"/>
                                <xs:attribute name="description" type="xs:string" default="offset to adjust the 3D shake gyro interval start/end times to better align with the frame. (Offset between gyro timing and sof timing in ms). "/>
                                <xs:attribute name="default_value" type="xs:string" default="0"/>
                                <xs:attribute name="range" type="xs:string" default="[-30000, 30000]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="32s"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="s3d_offset_4">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:int">
                                <xs:attribute name="type" default="int"/>
                                <xs:attribute name="description" type="xs:string" default="offset to adjust the 3D shake gyro interval start/end times to better align with the frame. (Offset between gyro timing and sof timing in ms). "/>
                                <xs:attribute name="default_value" type="xs:string" default="0"/>
                                <xs:attribute name="range" type="xs:string" default="[-30000, 30000]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="32s"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="s3d_threshold_1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="threshold whereby exposure times above and below this threshold results in a different offset getting applied to the 3D shake gyro time interval. Thresholding for deciding s3d_offset based on integration time in seconds). "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.005"/>
                                <xs:attribute name="range" type="xs:string" default="[0, 0.03]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="s3d_threshold_2">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="threshold whereby exposure times above and below this threshold results in a different offset getting applied to the 3D shake gyro time interval. Thresholding for deciding s3d_offset based on integration time in seconds). "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.010"/>
                                <xs:attribute name="range" type="xs:string" default="[0, 0.03]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="s3d_threshold_3">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="threshold whereby exposure times above and below this threshold results in a different offset getting applied to the 3D shake gyro time interval. Thresholding for deciding s3d_offset based on integration time in seconds). "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.020"/>
                                <xs:attribute name="range" type="xs:string" default="[0, 0.03]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="s3d_threshold_4_ext">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="threshold whereby exposure times above and below this threshold results in a different offset getting applied to the 3D shake gyro time interval. Thresholding for deciding s3d_offset based on integration time in seconds). "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.030"/>
                                <xs:attribute name="range" type="xs:string" default="[0, 0.03]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="blur_masking">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="enable">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:unsignedInt">
                                <xs:attribute name="type" default="uint"/>
                                <xs:attribute name="description" type="xs:string" default="Enable blur masking mechanism. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0"/>
                                <xs:attribute name="range" type="xs:string" default="[0, 1]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="1u"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="min_strength">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Minimum strength EIS can go down to when estimating strong blur. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.7"/>
                                <xs:attribute name="range" type="xs:string" default="[0, 1]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="exposure_time_th">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="if (exp_time is greater than exposure_time_th) then blur masking feature is enabled. Otherwise disabled. Units are seconds. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.015"/>
                                <xs:attribute name="range" type="xs:string" default="[0, 0.04]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="start_decrease_at_blur">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Blur below this point won't decrease strength. Units are pixels out of 1920 resolutions. Blur above this point will cause min_strength stabilization (in between start/end interpolate) Units are pixels out of 1920 resolutions. If (end_decrease_at_bluris greater thanstart_decrease_at_blur) then feature will be disabled. "/>
                                <xs:attribute name="default_value" type="xs:string" default="15.0"/>
                                <xs:attribute name="range" type="xs:string" default="[5, 100]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="end_decrease_at_blur">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="Blur below this point won't decrease strength. Units are pixels out of 1920 resolutions. Blur above this point will cause min_strength stabilization (in between start/end interpolate) Units are pixels out of 1920 resolutions. If (end_decrease_at_bluris greater thanstart_decrease_at_blur) then feature will be disabled. "/>
                                <xs:attribute name="default_value" type="xs:string" default="25.0"/>
                                <xs:attribute name="range" type="xs:string" default="[5, 100]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="blur_masking_res1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="blur_masking_res1. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="blur_masking_res2">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:float">
                                <xs:attribute name="type" default="float"/>
                                <xs:attribute name="description" type="xs:string" default="blur_masking_res2. "/>
                                <xs:attribute name="default_value" type="xs:string" default="0.0"/>
                                <xs:attribute name="range" type="xs:string" default="[-99999999999, 99999999999]"/>
                                <xs:attribute name="bit_depth" type="xs:string" default="float"/>
                                <xs:attribute name="length" type="xs:int" fixed="1"/>
                                <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                                <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
                                <xs:attribute name="additional_notes" type="xs:string" default="Constant: no dynamic configuration even when control variable change."/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="chromatix_eis11Type">
        <xs:sequence>
            <xs:element name="module_version">
                <xs:complexType>
                    <xs:attribute name="major_revision" type="xs:int" default="1"/>
                    <xs:attribute name="minor_revision" type="xs:int" default="1"/>
                    <xs:attribute name="incr_revision" type="xs:int" default="0"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="parameter_version">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="revision" type="xs:string" default="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="chromatix_eis11_reserve" type="chromatix_eis11_reserveType"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
