chi-cdk/api/chromatix/XSD/isp/lenr_1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================-->
<!-- Copyright (c) 2018-2019 Qualcomm Technologies, Inc.                         -->
<!-- All Rights Reserved.                                                   -->
<!-- Confidential and Proprietary - Qualcomm Technologies, Inc.             -->
<!--========================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ispglobalelements.xsd"/>
  <xs:element name="lenr10_ipe" type="chromatix_lenr10Type">
    <xs:annotation>
      <xs:documentation>lenr10 ipe module parameters</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="chromatix_lenr10Type">
    <xs:sequence>
      <xs:element name="enable_section">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="enable">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="enable_flag_type">
                    <xs:attribute name="type" default="int"/>
                    <xs:attribute name="description" type="xs:string" default="LENR module enable bit"/>
                    <xs:attribute name="default_value" type="xs:string" default="0"/>
                    <xs:attribute name="range" type="xs:string" default="[0,1]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="none"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="lenr_bltr_en">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="enable_flag_type">
                    <xs:attribute name="type" default="int"/>
                    <xs:attribute name="description" type="xs:string" default="LENR BLTR enable bit"/>
                    <xs:attribute name="default_value" type="xs:string" default="0"/>
                    <xs:attribute name="range" type="xs:string" default="[0,1]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="none"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="lenr_lce_en">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="enable_flag_type">
                    <xs:attribute name="type" default="int"/>
                    <xs:attribute name="description" type="xs:string" default="LENR LCE enable bit"/>
                    <xs:attribute name="default_value" type="xs:string" default="0"/>
                    <xs:attribute name="range" type="xs:string" default="[0,1]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="none"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="module_version">
        <xs:complexType>
          <xs:attribute name="major_revision" type="xs:int" fixed="1"/>
          <xs:attribute name="minor_revision" type="xs:int" fixed="0"/>
          <xs:attribute name="incr_revision" type="xs:int" fixed="0"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="parameter_version">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="revision" type="xs:string" default="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="control_variables">
        <xs:complexType>
          <xs:sequence minOccurs="4" maxOccurs="4">
            <xs:element name="control_var_type">
              <xs:simpleType>
                <xs:restriction base="control_var_type">
                  <xs:pattern value="control_total_scale_ratio"/>
                  <xs:pattern value="control_drc_gain"/>
                  <xs:pattern value="control_exp_time_ratio"/>
                  <xs:pattern value="control_aec_exp_sensitivity_ratio"/>
                  <xs:pattern value="control_exp_gain_ratio"/>
                  <xs:pattern value="control_lux_idx"/>
                  <xs:pattern value="control_gain"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="default_value" type="xs:string" default="control_total_scale_ratio, control_drc_gain, control_aec_exp_sensitivity_ratio, control_gain"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="control_method">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="aec_exp_control" type="tuning_control_aec_type" default="control_gain"/>
            <xs:element name="aec_hdr_control" type="tuning_control_aec_hdr_type" default="control_aec_exp_sensitivity_ratio"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dynamic_enable_triggers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_nr_enable">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="enable">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="enable_flag_type">
                          <xs:attribute name="type" default="int"/>
                          <xs:attribute name="description" type="xs:string" default="enable LENR1.0 module"/>
                          <xs:attribute name="default_value" type="xs:string" default="0"/>
                          <xs:attribute name="range" type="xs:string" default="[0,1]"/>
                          <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
                          <xs:attribute name="length" type="xs:int" fixed="1"/>
                          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
                          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="hyst_control_var">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="control_var_type">
                          <xs:attribute name="type" default="uint"/>
                          <xs:attribute name="description" type="xs:string" default="enable LENR1.0 module"/>
                          <xs:attribute name="default_value" type="xs:string" default="control_gain"/>
                          <xs:attribute name="range" type="xs:string" default="[0,1]"/>
                          <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
                          <xs:attribute name="length" type="xs:int" fixed="1"/>
                          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
                          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="hyst_mode" type="hyst_direction" default="UPWARD"/>
                  <xs:element name="hyst_trigger" type="trigger_pt_couplet_type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="chromatix_lenr10_reserve" type="chromatix_lenr10_reserveType"/>
      <xs:element name="chromatix_lenr10_core" type="chromatix_lenr10_coreType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chromatix_lenr10_reserveType">
    <xs:sequence>
      <xs:element name="rnr_en">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="enable_flag_type">
              <xs:attribute name="type" default="int"/>
              <xs:attribute name="description" type="xs:string" default="enable bit of radius based noise reduction"/>
              <xs:attribute name="default_value" type="xs:string" default="1"/>
              <xs:attribute name="range" type="xs:string" default="[0,1]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="snr_en">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="enable_flag_type">
              <xs:attribute name="type" default="int"/>
              <xs:attribute name="description" type="xs:string" default="enable bit of skin color based noise reduction"/>
              <xs:attribute name="default_value" type="xs:string" default="1"/>
              <xs:attribute name="range" type="xs:string" default="[0,1]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="fd_snr_en">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="enable_flag_type">
              <xs:attribute name="type" default="int"/>
              <xs:attribute name="description" type="xs:string" default="enable bit of face guided skin color based noise reduction"/>
              <xs:attribute name="default_value" type="xs:string" default="0"/>
              <xs:attribute name="range" type="xs:string" default="[0,1]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="if fd_snr_en = 1, snr is applied on face regions; if fd_snr_en  = 0, snr is applied on both face regions and non-face regions"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="fnr_en">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="enable_flag_type">
              <xs:attribute name="type" default="int"/>
              <xs:attribute name="description" type="xs:string" default="enable bit of flatness based noise reduction"/>
              <xs:attribute name="default_value" type="xs:string" default="1"/>
              <xs:attribute name="range" type="xs:string" default="[0,1]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="bltr_rnr_thrd_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="bltr_rnr_thrd_arr">
              <xs:simpleType>
                <xs:restriction base="floatvar">
                  <xs:length value="7"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="float"/>
          <xs:attribute name="description" type="xs:string" default="radial anchor table (distance percentage)"/>
          <xs:attribute name="default_value" type="xs:string" default="0.0 0.2 0.3 0.4 0.6 0.8 1.0"/>
          <xs:attribute name="range" type="xs:string" default="[0.0,1.0]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="10uQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="7"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lce_rnr_thrd_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lce_rnr_thrd_arr">
              <xs:simpleType>
                <xs:restriction base="floatvar">
                  <xs:length value="7"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="float"/>
          <xs:attribute name="description" type="xs:string" default="radial anchor table (distance percentage)"/>
          <xs:attribute name="default_value" type="xs:string" default="0.0 0.2 0.3 0.4 0.6 0.8 1.0"/>
          <xs:attribute name="range" type="xs:string" default="[0.0,1.0]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="10uQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="7"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_bltr_layer1_only">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="enable_flag_type">
              <xs:attribute name="type" default="int"/>
              <xs:attribute name="description" type="xs:string" default="enable bit"/>
              <xs:attribute name="default_value" type="xs:string" default="0"/>
              <xs:attribute name="range" type="xs:string" default="[0,1]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_bltr_clamp_en_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_bltr_clamp_en">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="BLRT dn4 dn8 dn16 clamp enable"/>
          <xs:attribute name="default_value" type="xs:string" default="0 0 0"/>
          <xs:attribute name="range" type="xs:string" default="[0,1]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="dn4, dn8, dn16 BLTR clamp enabler as array type"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_bltr_clamp_p_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_bltr_clamp_p">
              <xs:simpleType>
                <xs:restriction base="intvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="int"/>
          <xs:attribute name="description" type="xs:string" default="BLRT dn4 dn8 dn16 positive clamp"/>
          <xs:attribute name="default_value" type="xs:string" default="16 16 16"/>
          <xs:attribute name="range" type="xs:string" default="[-1023,1023]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="11sQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="dn4, dn8, dn16 BLTR positive clamp value as array type"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_bltr_clamp_n_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_bltr_clamp_n">
              <xs:simpleType>
                <xs:restriction base="intvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="int"/>
          <xs:attribute name="description" type="xs:string" default="BLRT dn4 dn8 dn16 negative clamp"/>
          <xs:attribute name="default_value" type="xs:string" default="-16 -16 -16"/>
          <xs:attribute name="range" type="xs:string" default="[-1023,1023]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="11sQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="dn4, dn8, dn16 BLTR negative clamp value as array type"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_bltr_fnr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_bltr_fnr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="gain table for flatness based noise reduction"/>
          <xs:attribute name="default_value" type="xs:string" default="16 16 16 24 32 32 32 32 32 32 32 32 32 32 32 32 32"/>
          <xs:attribute name="range" type="xs:string" default="[0,63]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="6uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR BLTR will be stronger as fnr_gain_arr decreases."/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn8_bltr_fnr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn8_bltr_fnr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="gain table for flatness based noise reduction"/>
          <xs:attribute name="default_value" type="xs:string" default="16 16 16 24 32 32 32 32 32 32 32 32 32 32 32 32 32"/>
          <xs:attribute name="range" type="xs:string" default="[0,63]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="6uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR BLTR will be stronger as fnr_gain_arr decreases."/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn16_bltr_fnr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn16_bltr_fnr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="gain table for flatness based noise reduction"/>
          <xs:attribute name="default_value" type="xs:string" default="16 16 16 24 32 32 32 32 32 32 32 32 32 32 32 32 32"/>
          <xs:attribute name="range" type="xs:string" default="[0,63]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="6uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR BLTR will be stronger as fnr_gain_arr decreases."/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_lce_fnr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_lce_fnr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="gain table for flatness based local contrast enhancement"/>
          <xs:attribute name="default_value" type="xs:string" default="16 16 16 24 32 32 32 32 32 32 32 32 32 32 32 32 32"/>
          <xs:attribute name="range" type="xs:string" default="[0,63]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="6uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR LCE will be stronger as fnr_gain_arr decreases."/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn8_lce_fnr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn8_lce_fnr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="gain table for flatness based local contrast enhancement"/>
          <xs:attribute name="default_value" type="xs:string" default="16 16 16 24 32 32 32 32 32 32 32 32 32 32 32 32 32"/>
          <xs:attribute name="range" type="xs:string" default="[0,63]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="6uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR LCE will be stronger as fnr_gain_arr decreases."/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn16_lce_fnr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn16_lce_fnr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="gain table for flatness based local contrast enhancement"/>
          <xs:attribute name="default_value" type="xs:string" default="16 16 16 24 32 32 32 32 32 32 32 32 32 32 32 32 32"/>
          <xs:attribute name="range" type="xs:string" default="[0,63]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="6uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR LCE will be stronger as fnr_gain_arr decreases."/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_all_fnr_shift">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:int">
              <xs:attribute name="type" default="int"/>
              <xs:attribute name="description" type="xs:string" default="FNR variance shift"/>
              <xs:attribute name="default_value" type="xs:int" default="2"/>
              <xs:attribute name="range" type="xs:string" default="[0,3]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="2uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_all_lce_kernel_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_all_lce_kernel">
              <xs:simpleType>
                <xs:restriction base="intvar">
                  <xs:length value="10"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="int"/>
          <xs:attribute name="description" type="xs:string" default="LCE kernel"/>
          <xs:attribute name="default_value" type="xs:string" default="736 0 -3 -8 -14 -22 -67 -88 -48 144"/>
          <xs:attribute name="range" type="xs:string" default="[-1024,1024]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="14sQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="10"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="cnr_scale">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:int">
              <xs:attribute name="type" default="int"/>
              <xs:attribute name="description" type="xs:string" default="Chroma channel scale"/>
              <xs:attribute name="default_value" type="xs:int" default="4"/>
              <xs:attribute name="range" type="xs:string" default="[0,15]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="4uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chromatix_lenr10_coreType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="mod_lenr10_total_scale_ratio_data" type="mod_lenr10_total_scale_ratio_dataType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_lenr10_total_scale_ratio_dataType">
    <xs:sequence>
      <xs:element name="total_scale_ratio_trigger" type="trigger_pt_type"/>
      <xs:element name="total_scale_ratio_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_lenr10_drc_gain_data" type="mod_lenr10_drc_gain_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_lenr10_drc_gain_dataType">
    <xs:sequence>
      <xs:element name="drc_gain_trigger" type="trigger_pt_type"/>
      <xs:element name="drc_gain_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_lenr10_hdr_aec_data" type="mod_lenr10_hdr_aec_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_lenr10_hdr_aec_dataType">
    <xs:sequence>
      <xs:element name="hdr_aec_trigger" type="trigger_pt_type_aec_hdr"/>
      <xs:element name="hdr_aec_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_lenr10_aec_data" type="mod_lenr10_aec_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_lenr10_aec_dataType">
    <xs:sequence>
      <xs:element name="aec_trigger" type="trigger_pt_type_aec"/>
      <xs:element name="lenr10_rgn_data" type="lenr10_rgn_dataType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lenr10_rgn_dataType">
    <xs:sequence>
      <xs:element name="lenr_dn4_8_16_bltr_th_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_bltr_th">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="BLTR dn4 dn8 dn16 weight curve controlthreshold"/>
          <xs:attribute name="default_value" type="xs:string" default="2 1 0"/>
          <xs:attribute name="range" type="xs:string" default="[0,1023]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="10uQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_bltr_gap_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_bltr_gap">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="BLTR dn4 dn8 dn16 weight curve gap (0-10)"/>
          <xs:attribute name="default_value" type="xs:string" default="1 0 0"/>
          <xs:attribute name="range" type="xs:string" default="[0,15]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="4uQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_bltr_ctrl_th_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_bltr_ctrl_th">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="BLTR dn4 dn8 dn16 noise control threshold"/>
          <xs:attribute name="default_value" type="xs:string" default="8 4 16"/>
          <xs:attribute name="range" type="xs:string" default="[0,1023]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="10uQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_bltr_ctrl_w_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_bltr_ctrl_w">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="BLTR dn4 dn8 dn16 noise control slope"/>
          <xs:attribute name="default_value" type="xs:string" default="128 256 64"/>
          <xs:attribute name="range" type="xs:string" default="[0,1023]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="10uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_bltr_snr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_bltr_snr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="skin based noise reduction gain table"/>
          <xs:attribute name="default_value" type="xs:string" default="32 32 32 32 32 32 24 16 16 12 10 10 10 10 10 10 10"/>
          <xs:attribute name="range" type="xs:string" default="[1,32]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="5uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR BLTR will be stronger as snr_gain_arr decreases. SW tuning parameter need subtract by 1 and set it to HW register."/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn8_bltr_snr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn8_bltr_snr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="skin based noise reduction gain table"/>
          <xs:attribute name="default_value" type="xs:string" default="32 32 32 32 32 32 24 16 16 12 12 12 12 12 12 12 12"/>
          <xs:attribute name="range" type="xs:string" default="[1,32]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="5uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR BLTR will be stronger as snr_gain_arr decreases. SW tuning parameter need subtract by 1 and set it to HW register."/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn16_bltr_snr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn16_bltr_snr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="skin based noise reduction gain table"/>
          <xs:attribute name="default_value" type="xs:string" default="32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32 32"/>
          <xs:attribute name="range" type="xs:string" default="[1,32]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="5uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR BLTR will be stronger as snr_gain_arr decreases. SW tuning parameter need subtract by 1 and set it to HW register."/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="bltr_rnr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="bltr_rnr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="floatvar">
                  <xs:length value="7"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="float"/>
          <xs:attribute name="description" type="xs:string" default="radial adjustment for noise preserving percentage"/>
          <xs:attribute name="default_value" type="xs:string" default="1.0 1.0 0.9375 0.8750 0.7500 0.6250 0.5000"/>
          <xs:attribute name="range" type="xs:string" default="[0,2.0]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="10uQ9"/>
          <xs:attribute name="length" type="xs:int" fixed="7"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR BLTR will be stronger denoising as bltr_rnr_gain_arr decreases. In general, bltr_rnr_gain_arr is a monotonically decreasing curve."/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_lce_core_p_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_lce_core_p">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="LCE dn4 dn8 dn16 HPF positive coring"/>
          <xs:attribute name="default_value" type="xs:string" default="8 4 2"/>
          <xs:attribute name="range" type="xs:string" default="[0,1023]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="10uQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_lce_core_n_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_lce_core_n">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="LCE dn4 dn8 dn16 HPF negative coring"/>
          <xs:attribute name="default_value" type="xs:string" default="8 4 2"/>
          <xs:attribute name="range" type="xs:string" default="[0,1023]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="10uQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_lce_scale_p_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_lce_scale_p">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="LCE dn4 dn8 dn16 HPF positive scaling"/>
          <xs:attribute name="default_value" type="xs:string" default="128 64 32"/>
          <xs:attribute name="range" type="xs:string" default="[0,255]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="8uQ9"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_lce_scale_n_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_lce_scale_n">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="LCE dn4 dn8 dn16 HPF negative scaling"/>
          <xs:attribute name="default_value" type="xs:string" default="128 64 32"/>
          <xs:attribute name="range" type="xs:string" default="[0,255]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="8uQ9"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_lce_clamp_p_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_lce_clamp_p">
              <xs:simpleType>
                <xs:restriction base="intvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="int"/>
          <xs:attribute name="description" type="xs:string" default="LCE dn4 dn8 dn16 HPF positive clamping"/>
          <xs:attribute name="default_value" type="xs:string" default="4 2 0"/>
          <xs:attribute name="range" type="xs:string" default="[-1023,1023]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="11sQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_8_16_lce_clamp_n_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_8_16_lce_clamp_n">
              <xs:simpleType>
                <xs:restriction base="intvar">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="int"/>
          <xs:attribute name="description" type="xs:string" default="LCE dn4 dn8 dn16 HPF negative clamping"/>
          <xs:attribute name="default_value" type="xs:string" default="-4 -2 0"/>
          <xs:attribute name="range" type="xs:string" default="[-1023,1023]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="11sQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="3"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn4_lce_snr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn4_lce_snr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="skin based local contrast enhancement gain table"/>
          <xs:attribute name="default_value" type="xs:string" default="32 32 32 32 32 32 32 32 32 24 16 12 12 12 12 12 12"/>
          <xs:attribute name="range" type="xs:string" default="[1,32]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="5uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR LCE will be stronger as snr_gain_arr decreases. SW tuning parameter need subtract by 1 and set it to HW register."/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn8_lce_snr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn8_lce_snr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="skin based local contrast enhancement gain table"/>
          <xs:attribute name="default_value" type="xs:string" default="32 32 32 32 32 32 32 32 32 24 16 12 12 12 12 12 12"/>
          <xs:attribute name="range" type="xs:string" default="[1,32]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="5uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR LCE will be stronger as snr_gain_arr decreases. SW tuning parameter need subtract by 1 and set it to HW register."/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lenr_dn16_lce_snr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lenr_dn16_lce_snr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="17"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="skin based local contrast enhancement gain table"/>
          <xs:attribute name="default_value" type="xs:string" default="32 32 32 32 32 32 32 32 32 24 16 12 12 12 12 12 12"/>
          <xs:attribute name="range" type="xs:string" default="[1,32]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="5uQ5"/>
          <xs:attribute name="length" type="xs:int" fixed="17"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR LCE will be stronger as snr_gain_arr decreases. SW tuning parameter need subtract by 1 and set it to HW register."/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="lce_rnr_gain_arr_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="lce_rnr_gain_arr">
              <xs:simpleType>
                <xs:restriction base="floatvar">
                  <xs:length value="7"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="float"/>
          <xs:attribute name="description" type="xs:string" default="radial adjustment for local contrast enhancment percentage"/>
          <xs:attribute name="default_value" type="xs:string" default="1.0 1.0 0.9375 0.8750 0.7500 0.6250 0.5000"/>
          <xs:attribute name="range" type="xs:string" default="[0,2.0]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="10uQ9"/>
          <xs:attribute name="length" type="xs:int" fixed="7"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="LENR LCE will be stronger enhancement as lce_rnr_gain_arr decreases. In general, lce_rnr_gain_arr is a monotonically decreasing curve."/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="skin_hue_min">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="Min hue value for skin detection. Instead of negative (Cb/Cr),  absolute value |Cb/Cr| is used in HW"/>
              <xs:attribute name="default_value" type="xs:float" default="-1.39"/>
              <xs:attribute name="range" type="xs:string" default="[-3.0,-1.0]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="10uQ8"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="skin_hue_max">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="Max hue value for skin detection. Instead of negative (Cb/Cr),  absolute value |Cb/Cr| is used in HW"/>
              <xs:attribute name="default_value" type="xs:float" default="-0.4"/>
              <xs:attribute name="range" type="xs:string" default="[-0.996,0]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ8"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="skin_y_min">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="Min Y value for skin detection."/>
              <xs:attribute name="default_value" type="xs:float" default="0.125"/>
              <xs:attribute name="range" type="xs:string" default="[0,1.0]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ8"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="skin_y_max">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="Max Y value for skin detection"/>
              <xs:attribute name="default_value" type="xs:float" default="1.0"/>
              <xs:attribute name="range" type="xs:string" default="[0,1.0]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ8"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="skin_saturation_min_y_max">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="Min saturation value for skin when Y=Y_max"/>
              <xs:attribute name="default_value" type="xs:float" default="0.08"/>
              <xs:attribute name="range" type="xs:string" default="[0,1.0]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ8"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="skin_saturation_max_y_max">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="Max saturation value for skin when Y=Y_max"/>
              <xs:attribute name="default_value" type="xs:float" default="0.8"/>
              <xs:attribute name="range" type="xs:string" default="[0,1.0]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ8"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="skin_saturation_min_y_min">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="Min saturation value for skin when Y=Y_min"/>
              <xs:attribute name="default_value" type="xs:float" default="0.32"/>
              <xs:attribute name="range" type="xs:string" default="[0,0.5]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ8"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="skin_saturation_max_y_min">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="Max saturation value for skin when Y=Y_min"/>
              <xs:attribute name="default_value" type="xs:float" default="1.0"/>
              <xs:attribute name="range" type="xs:string" default="[0.2,1.0]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ8"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="skin_boundary_probability">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="skin-tone probability at the boundary of skin-tone range"/>
              <xs:attribute name="default_value" type="xs:float" default="8"/>
              <xs:attribute name="range" type="xs:string" default="[1,15]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="4uQ4"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="skin_percent">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="Percentage of skin tone region with skin-tone probability 1"/>
              <xs:attribute name="default_value" type="xs:float" default="12"/>
              <xs:attribute name="range" type="xs:string" default="[0,100]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="0uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="skin_non_skin_to_skin_q_ratio">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="Ratio of Q_nonSkin to Q_skin"/>
              <xs:attribute name="default_value" type="xs:float" default="0.5"/>
              <xs:attribute name="range" type="xs:string" default="[0.1,10.0]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="0uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="face_boundary">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="the lower bound of face region. Full skin detection is applied within radius smaller than face_boundary * face_radius(from face detection)."/>
              <xs:attribute name="default_value" type="xs:float" default="1.2"/>
              <xs:attribute name="range" type="xs:string" default="[0,8]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="0uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="face_transition">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="the upper bound of face region. no skin detection is applied within radius larger than face_transition * face_radius(from face detection)."/>
              <xs:attribute name="default_value" type="xs:float" default="2.0"/>
              <xs:attribute name="range" type="xs:string" default="[0,8]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="0uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
