chi-cdk/api/chromatix/XSD/isp/mf_1_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================-->
<!-- Copyright (c) 2019 Qualcomm Technologies, Inc.                         -->
<!-- All Rights Reserved.                                                   -->
<!-- Confidential and Proprietary - Qualcomm Technologies, Inc.             -->
<!--========================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ispglobalelements.xsd"/>
  <xs:element name="mf11_sw" type="chromatix_mf11Type">
    <xs:annotation>
      <xs:documentation>mf11 software control parameters</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="chromatix_mf11Type">
    <xs:sequence>
      <xs:element name="enable_section">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="enable_mfnr" type="enable_flag_type" default="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="module_version">
        <xs:complexType>
          <xs:attribute name="major_revision" type="xs:int" default="1"/>
          <xs:attribute name="minor_revision" type="xs:int" default="1"/>
          <xs:attribute name="incr_revision" type="xs:int" default="0"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="parameter_version">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="revision" type="xs:string" default="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="control_variables">
        <xs:complexType>
          <xs:sequence minOccurs="8" maxOccurs="8">
            <xs:element name="control_var_type">
              <xs:simpleType>
                <xs:restriction base="control_var_type">
                  <xs:pattern value="control_lens_position"/>
                  <xs:pattern value="control_lens_zoom"/>
                  <xs:pattern value="control_post_scale_ratio"/>
                  <xs:pattern value="control_pre_scale_ratio"/>
                  <xs:pattern value="control_drc_gain"/>
                  <xs:pattern value="control_exp_time_ratio"/>
                  <xs:pattern value="control_aec_exp_sensitivity_ratio"/>
                  <xs:pattern value="control_exp_gain_ratio"/>
                  <xs:pattern value="control_lux_idx"/>
                  <xs:pattern value="control_gain"/>
                  <xs:pattern value="control_cct"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="default_value" type="xs:string" default="control_lens_position, control_lens_zoom, control_post_scale_ratio, control_pre_scale_ratio, control_drc_gain, control_aec_exp_sensitivity_ratio, control_gain, control_cct"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="control_method">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="aec_exp_control" type="tuning_control_aec_type" default="control_gain"/>
            <xs:element name="aec_hdr_control" type="tuning_control_aec_hdr_type" default="control_aec_exp_sensitivity_ratio"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dynamic_enable_triggers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="enable_mfnr">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="enable">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="enable_flag_type">
                          <xs:attribute name="type" default="int"/>
                          <xs:attribute name="description" type="xs:string" default="Enable Multi-Frame Noise Reduction. "/>
                          <xs:attribute name="default_value" type="xs:string" default="0"/>
                          <xs:attribute name="range" type="xs:string" default="[0, 1]"/>
                          <xs:attribute name="bit_depth" type="xs:string" default="1u"/>
                          <xs:attribute name="length" type="xs:int" default="1"/>
                          <xs:attribute name="conversion" type="xs:string"/>
                          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="hyst_control_var">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="control_var_type">
                          <xs:attribute name="type" default="xs:string"/>
                          <xs:attribute name="description" type="xs:string" default="Enable Multi-Frame Noise Reduction."/>
                          <xs:attribute name="default_value" type="xs:string" default="control_gain"/>
                          <xs:attribute name="range" type="xs:string" default="[0, 1]"/>
                          <xs:attribute name="bit_depth" type="xs:string" default="1u"/>
                          <xs:attribute name="length" type="xs:int" default="0"/>
                          <xs:attribute name="conversion" type="xs:string"/>
                          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="hyst_mode" type="hyst_direction" default="UPWARD"/>
                  <xs:element name="hyst_trigger" type="trigger_pt_couplet_type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="chromatix_mf11_reserve" type="chromatix_mf11_reserveType"/>
      <xs:element name="chromatix_mf11_core" type="chromatix_mf11_coreType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chromatix_mf11_reserveType">
    <xs:sequence>
      <xs:element name="mfsr_disable_gain">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:float">
              <xs:attribute name="type" default="float"/>
              <xs:attribute name="description" type="xs:string" default="MFSR will be disabled when gain is larger than this parameter."/>
              <xs:attribute name="default_value" type="xs:string" default="1023"/>
              <xs:attribute name="range" type="xs:string" default="[1,1023]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="0uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="never_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chromatix_mf11_coreType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="mod_mf11_lens_posn_data" type="mod_mf11_lens_posn_dataType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_mf11_cct_dataType">
    <xs:sequence>
      <xs:element name="cct_trigger" type="trigger_pt_type"/>
      <xs:element name="mf11_rgn_data" type="mf11_rgn_dataType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_mf11_aec_dataType">
    <xs:sequence>
      <xs:element name="aec_trigger" type="trigger_pt_type_aec"/>
      <xs:element name="aec_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_mf11_cct_data" type="mod_mf11_cct_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_mf11_hdr_aec_dataType">
    <xs:sequence>
      <xs:element name="hdr_aec_trigger" type="trigger_pt_type_aec_hdr"/>
      <xs:element name="hdr_aec_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_mf11_aec_data" type="mod_mf11_aec_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_mf11_drc_gain_dataType">
    <xs:sequence>
      <xs:element name="drc_gain_trigger" type="trigger_pt_type"/>
      <xs:element name="drc_gain_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_mf11_hdr_aec_data" type="mod_mf11_hdr_aec_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_mf11_pre_scale_ratio_dataType">
    <xs:sequence>
      <xs:element name="pre_scale_ratio_trigger" type="trigger_pt_type"/>
      <xs:element name="pre_scale_ratio_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_mf11_drc_gain_data" type="mod_mf11_drc_gain_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_mf11_post_scale_ratio_dataType">
    <xs:sequence>
      <xs:element name="post_scale_ratio_trigger" type="trigger_pt_type"/>
      <xs:element name="post_scale_ratio_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_mf11_pre_scale_ratio_data" type="mod_mf11_pre_scale_ratio_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_mf11_lens_zoom_dataType">
    <xs:sequence>
      <xs:element name="lens_zoom_trigger" type="trigger_pt_type"/>
      <xs:element name="lens_zoom_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_mf11_post_scale_ratio_data" type="mod_mf11_post_scale_ratio_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_mf11_lens_posn_dataType">
    <xs:sequence>
      <xs:element name="lens_posn_trigger" type="trigger_pt_type"/>
      <xs:element name="lens_posn_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_mf11_lens_zoom_data" type="mod_mf11_lens_zoom_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mf11_rgn_dataType">
    <xs:sequence>
      <xs:element name="top">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="enable_mfsr">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:unsignedInt">
                    <xs:attribute name="type" default="uint"/>
                    <xs:attribute name="description" type="xs:string" default="Enable Multi-Frame Super-Resolution. "/>
                    <xs:attribute name="default_value" type="xs:string" default="0"/>
                    <xs:attribute name="range" type="xs:string" default="[0, 1]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="1u"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="Nearest neighbor interpolation: discrete values allowed."/>
                    <xs:attribute name="tool_hint" default="float"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="num_of_frames">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:unsignedInt">
                    <xs:attribute name="type" default="uint"/>
                    <xs:attribute name="description" type="xs:string" default="Number of images to process. "/>
                    <xs:attribute name="default_value" type="xs:string" default="3"/>
                    <xs:attribute name="range" type="xs:string" default="[3, 31]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="5u"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                    <xs:attribute name="tool_hint" default="float"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="pre_filtering_strength_luma">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:unsignedInt">
                    <xs:attribute name="type" default="uint"/>
                    <xs:attribute name="description" type="xs:string" default="Strength (Q8) of luma pre-filtering. Strength less than 256 weakens spatial noise reduction for the anchor frame. Strength 0 means no spatial noise reduction. "/>
                    <xs:attribute name="default_value" type="xs:string" default="256"/>
                    <xs:attribute name="range" type="xs:string" default="[0, 256]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="9u"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                    <xs:attribute name="tool_hint" default="float"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="pre_filtering_strength_chroma">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:unsignedInt">
                    <xs:attribute name="type" default="uint"/>
                    <xs:attribute name="description" type="xs:string" default="Strength (Q8) of chroma pre-filtering. Strength less than 256 weakens spatial noise reduction for the anchor frame. Strength 0 means no spatial noise reduction. "/>
                    <xs:attribute name="default_value" type="xs:string" default="256"/>
                    <xs:attribute name="range" type="xs:string" default="[0, 256]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="9u"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                    <xs:attribute name="tool_hint" default="float"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="anchor_picking">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mode">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:unsignedInt">
                    <xs:attribute name="type" default="uint"/>
                    <xs:attribute name="description" type="xs:string" default="0 - Will use the desired image as anchor; process others in increasing temporal difference. 1 - Process images in order of decreasing sharpness (focus value). 2 - Process images with similar lighting first. "/>
                    <xs:attribute name="default_value" type="xs:string" default="2"/>
                    <xs:attribute name="range" type="xs:string" default="[0, 2]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="2u"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="Nearest neighbor interpolation: discrete values allowed."/>
                    <xs:attribute name="tool_hint" default="float"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="anchor_time_range">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:unsignedInt">
                    <xs:attribute name="type" default="uint"/>
                    <xs:attribute name="description" type="xs:string" default="Maximum timestamp difference (nanoseconds) between desired and chosen anchor image. "/>
                    <xs:attribute name="default_value" type="xs:string" default="200000000"/>
                    <xs:attribute name="range" type="xs:string" default="[0, 4294967295]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="32u"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                    <xs:attribute name="tool_hint" default="float"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="brightness_tolerance">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:unsignedInt">
                    <xs:attribute name="type" default="uint"/>
                    <xs:attribute name="description" type="xs:string" default="Maximum difference in brightness for which the images are expected to be blended. Possible 256 gray levels. "/>
                    <xs:attribute name="default_value" type="xs:string" default="3"/>
                    <xs:attribute name="range" type="xs:string" default="[0, 256]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="9u"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                    <xs:attribute name="tool_hint" default="float"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="remove_expected_bad_images">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:unsignedInt">
                    <xs:attribute name="type" default="uint"/>
                    <xs:attribute name="description" type="xs:string" default="Whether to remove images which will not be blended from the processing list. "/>
                    <xs:attribute name="default_value" type="xs:string" default="0"/>
                    <xs:attribute name="range" type="xs:string" default="[0, 1]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="1u"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                    <xs:attribute name="tool_hint" default="float"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="min_histogram_bin">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:unsignedInt">
                    <xs:attribute name="type" default="uint"/>
                    <xs:attribute name="description" type="xs:string" default="Minimal histogram bin index; lower bins are ignored. "/>
                    <xs:attribute name="default_value" type="xs:string" default="0"/>
                    <xs:attribute name="range" type="xs:string" default="[0, 255]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="8u"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                    <xs:attribute name="tool_hint" default="float"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="max_histogram_bin">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:unsignedInt">
                    <xs:attribute name="type" default="uint"/>
                    <xs:attribute name="description" type="xs:string" default="Maximal histogram bin index; higher bins are ignored. "/>
                    <xs:attribute name="default_value" type="xs:string" default="255"/>
                    <xs:attribute name="range" type="xs:string" default="[0, 255]"/>
                    <xs:attribute name="bit_depth" type="xs:string" default="8u"/>
                    <xs:attribute name="length" type="xs:int" fixed="1"/>
                    <xs:attribute name="conversion" type="xs:string" default="No Conversion needed "/>
                    <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
                    <xs:attribute name="additional_notes" type="xs:string" default="Linear interpolation."/>
                    <xs:attribute name="tool_hint" default="float"/>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
