chi-cdk/api/chromatix/XSD/isp/pdpc_3_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================-->
<!-- Copyright (c) 2018-2019 Qualcomm Technologies, Inc.                    -->
<!-- All Rights Reserved.                                                   -->
<!-- Confidential and Proprietary - Qualcomm Technologies, Inc.             -->
<!--========================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ispglobalelements.xsd"/>
  <xs:element name="pdpc30_bps" type="chromatix_pdpc30Type">
    <xs:annotation>
      <xs:documentation>pdpc30 module parameters (both bps and ife)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="pdpc30_ife" type="chromatix_pdpc30Type">
    <xs:annotation>
      <xs:documentation>pdpc30 module parameters (both bps and ife)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="chromatix_pdpc30Type">
    <xs:sequence>
      <xs:element name="enable_section">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="enable" type="enable_flag_type" default="0"/>
            <xs:element name="pdpc_enable" type="enable_flag_type" default="0"/>
            <xs:element name="bpc_enable" type="enable_flag_type" default="0"/>
            <xs:element name="gic_enable" type="enable_flag_type" default="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="module_version">
        <xs:complexType>
          <xs:attribute name="major_revision" type="xs:int" fixed="3"/>
          <xs:attribute name="minor_revision" type="xs:int" fixed="0"/>
          <xs:attribute name="incr_revision" type="xs:int" fixed="0"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="parameter_version">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="revision" type="xs:string" default="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="control_variables">
        <xs:complexType>
          <xs:sequence minOccurs="3" maxOccurs="3">
            <xs:element name="control_var_type">
              <xs:simpleType>
                <xs:restriction base="control_var_type">
                  <xs:pattern value="control_drc_gain"/>
                  <xs:pattern value="control_exp_time_ratio"/>
                  <xs:pattern value="control_aec_exp_sensitivity_ratio"/>
                  <xs:pattern value="control_exp_gain_ratio"/>
                  <xs:pattern value="control_lux_idx"/>
                  <xs:pattern value="control_gain"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="default_value" type="xs:string" default="control_drc_gain, control_aec_exp_sensitivity_ratio, control_gain"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="control_method">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="aec_exp_control" type="tuning_control_aec_type" default="control_gain"/>
            <xs:element name="aec_hdr_control" type="tuning_control_aec_hdr_type" default="control_aec_exp_sensitivity_ratio"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="dynamic_enable_triggers">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="bpc_enable">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="enable">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="enable_flag_type">
                          <xs:attribute name="type" default="int"/>
                          <xs:attribute name="description" type="xs:string" default="enable bad pixel correction module"/>
                          <xs:attribute name="default_value" type="xs:string" default="0"/>
                          <xs:attribute name="range" type="xs:string" default="[0,1]"/>
                          <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
                          <xs:attribute name="length" type="xs:int" fixed="1"/>
                          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
                          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="hyst_control_var">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="control_var_type">
                          <xs:attribute name="type" default="uint"/>
                          <xs:attribute name="description" type="xs:string" default="enable bad pixel correction module"/>
                          <xs:attribute name="default_value" type="xs:string" default="control_gain"/>
                          <xs:attribute name="range" type="xs:string" default="[0,1]"/>
                          <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
                          <xs:attribute name="length" type="xs:int" fixed="1"/>
                          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
                          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="hyst_mode" type="hyst_direction" default="UPWARD"/>
                  <xs:element name="hyst_trigger" type="trigger_pt_couplet_type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="gic_enable">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="enable">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="enable_flag_type">
                          <xs:attribute name="type" default="int"/>
                          <xs:attribute name="description" type="xs:string" default="enable green imbalance correction module"/>
                          <xs:attribute name="default_value" type="xs:string" default="0"/>
                          <xs:attribute name="range" type="xs:string" default="[0,1]"/>
                          <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
                          <xs:attribute name="length" type="xs:int" fixed="1"/>
                          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
                          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="hyst_control_var">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="control_var_type">
                          <xs:attribute name="type" default="uint"/>
                          <xs:attribute name="description" type="xs:string" default="enable green imbalance correction module"/>
                          <xs:attribute name="default_value" type="xs:string" default="control_gain"/>
                          <xs:attribute name="range" type="xs:string" default="[0,1]"/>
                          <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
                          <xs:attribute name="length" type="xs:int" fixed="1"/>
                          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
                          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
                          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="hyst_mode" type="hyst_direction" default="UPWARD"/>
                  <xs:element name="hyst_trigger" type="trigger_pt_couplet_type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="chromatix_pdpc30_core" type="chromatix_pdpc30_coreType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chromatix_pdpc30_coreType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="mod_pdpc30_drc_gain_data" type="mod_pdpc30_drc_gain_dataType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_pdpc30_drc_gain_dataType">
    <xs:sequence>
      <xs:element name="drc_gain_trigger" type="trigger_pt_type"/>
      <xs:element name="drc_gain_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_pdpc30_hdr_aec_data" type="mod_pdpc30_hdr_aec_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_pdpc30_hdr_aec_dataType">
    <xs:sequence>
      <xs:element name="hdr_aec_trigger" type="trigger_pt_type_aec_hdr"/>
      <xs:element name="hdr_aec_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_pdpc30_aec_data" type="mod_pdpc30_aec_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_pdpc30_aec_dataType">
    <xs:sequence>
      <xs:element name="aec_trigger" type="trigger_pt_type_aec"/>
      <xs:element name="pdpc30_rgn_data" type="pdpc30_rgn_dataType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pdpc30_rgn_dataType">
    <xs:sequence>
      <xs:element name="fmax_flat">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Bad pixel maximum threshold factor at flat area"/>
              <xs:attribute name="default_value" type="xs:string" default="68"/>
              <xs:attribute name="range" type="xs:string" default="[0,255]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ6"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger values mean less hot pixels detection"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="fmin_flat">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Bad pixel minimum threshold factor at flat area"/>
              <xs:attribute name="default_value" type="xs:string" default="60"/>
              <xs:attribute name="range" type="xs:string" default="[0,255]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ6"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="smaller values mean less cold pixels detection"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="bpc_offset_flat">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="offset used in single bad pixel detection at flat area"/>
              <xs:attribute name="default_value" type="xs:string" default="10"/>
              <xs:attribute name="range" type="xs:string" default="[0,16383]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="14uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger values mean less bad pixels detection"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="bcc_offset_flat">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="offset used in couplet bad pixel detection at flat area"/>
              <xs:attribute name="default_value" type="xs:string" default="1000"/>
              <xs:attribute name="range" type="xs:string" default="[0,16383]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="14uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger values mean less bad pixels detection"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="fmax">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Bad pixel maximum threshold factor at non-flat area"/>
              <xs:attribute name="default_value" type="xs:string" default="96"/>
              <xs:attribute name="range" type="xs:string" default="[0,255]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ6"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger values mean less hot pixels detection"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="fmin">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Bad pixel minimum threshold factor at non-flat area"/>
              <xs:attribute name="default_value" type="xs:string" default="32"/>
              <xs:attribute name="range" type="xs:string" default="[0,255]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ6"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="smaller values mean less cold pixels detection"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="bpc_offset">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="offset used in single bad pixel detection at non-flat area"/>
              <xs:attribute name="default_value" type="xs:string" default="20"/>
              <xs:attribute name="range" type="xs:string" default="[0,16383]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="14uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger values mean less bad pixels detection"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="bcc_offset">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="offset used in couplet bad pixel detection at non-flat area"/>
              <xs:attribute name="default_value" type="xs:string" default="2000"/>
              <xs:attribute name="range" type="xs:string" default="[0,16383]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="14uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger values mean less bad pixels detection"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="flat_detection_en">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Whether to enable flat area detection"/>
              <xs:attribute name="default_value" type="xs:string" default="1"/>
              <xs:attribute name="range" type="xs:string" default="[0,1]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="enable bit to separate BP detetion in flat and non-flat areas, recommend stronger detection in flat region, and eaker detection for non-flat region."/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="flat_th_recip">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Threshold for flat area detection"/>
              <xs:attribute name="default_value" type="xs:string" default="32"/>
              <xs:attribute name="range" type="xs:string" default="[0,1023]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="10uQ6"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="Larger value, less area being detected as flat"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="saturation_threshold">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="values equal or larger than threshold will be treated as sataturated. (T1 in zzHDR)"/>
              <xs:attribute name="default_value" type="xs:string" default="1023"/>
              <xs:attribute name="range" type="xs:string" default="[0,16383]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="14uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger value, less likely to being saturated"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="use_same_channel_only">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="If enabled, only same channel pixels are used for BPC."/>
              <xs:attribute name="default_value" type="xs:string" default="0"/>
              <xs:attribute name="range" type="xs:string" default="[0,1]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="If enabled, only same channel pixels are used for detection and recovery"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="single_bpc_only">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="If enabled, only correct single bad pixel"/>
              <xs:attribute name="default_value" type="xs:string" default="0"/>
              <xs:attribute name="range" type="xs:string" default="[0,1]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="if enabled, only single bad pixels will be corrected, not couplets."/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="directional_bpc_en">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="If enabled, the directional recovery will be used in the BP correction."/>
              <xs:attribute name="default_value" type="xs:string" default="0"/>
              <xs:attribute name="range" type="xs:string" default="[0,1]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="1uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="If enabled, better BP correction along edges, but consume more power."/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="dir_tk">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Threshold ratio for directional detection, 9uQ6"/>
              <xs:attribute name="default_value" type="xs:string" default="128"/>
              <xs:attribute name="range" type="xs:string" default="[0,511]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="9uQ6"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger value, less direction being detected."/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="dir_offset">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Offset value for directional detection and recovery"/>
              <xs:attribute name="default_value" type="xs:string" default="32"/>
              <xs:attribute name="range" type="xs:string" default="[0,16383]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="14uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger value, less direction being detected"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="fmax_gic">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Bad pixel maximum threshold factor for BP screening in GIC"/>
              <xs:attribute name="default_value" type="xs:string" default="96"/>
              <xs:attribute name="range" type="xs:string" default="[0,255]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ6"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger value, less pixels being detected as hot"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="bpc_offset_gic">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Offset used in the BP screening n GIC"/>
              <xs:attribute name="default_value" type="xs:string" default="20"/>
              <xs:attribute name="range" type="xs:string" default="[0,16383]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="14uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="rarely_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger value, less pixel being detected as hot"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="gic_thin_line_noise_offset">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="offset used in thin line detection in GIC"/>
              <xs:attribute name="default_value" type="xs:string" default="100"/>
              <xs:attribute name="range" type="xs:string" default="[0,16383]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="14uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger value, less region being detected as thin line."/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="gic_filter_strength">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="filter strength for GIC"/>
              <xs:attribute name="default_value" type="xs:string" default="64"/>
              <xs:attribute name="range" type="xs:string" default="[0,511]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="9uQ6"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="larger value, stronger GIC"/>
              <xs:attribute name="tool_hint" default="float"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="noise_std_lut_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="noise_std_lut">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="65"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="65-entry shot noise profile (std) from measurement."/>
          <xs:attribute name="default_value" type="xs:string" default="0 6 9 11 12 14 15 16 18 19 20 21 22 23 24 24 25 26 27 27 28 29 30 30 31 32 32 33 33 34 35 35 36 36 37 37 38 39 39 40 40 41 41 42 42 43 43 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44 44"/>
          <xs:attribute name="range" type="xs:string" default="[0,512]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="14uQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="65"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="must_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
          <xs:attribute name="tool_hint" default="float"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
