chi-cdk/api/chromatix/XSD/isp/shdr_1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--========================================================================-->
<!-- Copyright (c) 2019 Qualcomm Technologies, Inc.                         -->
<!-- All Rights Reserved.                                                   -->
<!-- Confidential and Proprietary - Qualcomm Technologies, Inc.             -->
<!--========================================================================-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ispglobalelements.xsd"/>
  <xs:element name="shdr10_sw" type="chromatix_shdr10Type">
    <xs:annotation>
      <xs:documentation>shdr10 sw control parameters</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="chromatix_shdr10Type">
    <xs:sequence>
      <xs:element name="enable_section">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="shdr_enable" type="enable_flag_type" default="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="module_version">
        <xs:complexType>
          <xs:attribute name="major_revision" type="xs:int" fixed="1"/>
          <xs:attribute name="minor_revision" type="xs:int" fixed="0"/>
          <xs:attribute name="incr_revision" type="xs:int" fixed="0"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="parameter_version">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="revision" type="xs:string" default="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="control_variables">
        <xs:complexType>
          <xs:sequence minOccurs="3" maxOccurs="3">
            <xs:element name="control_var_type">
              <xs:simpleType>
                <xs:restriction base="control_var_type">
                  <xs:pattern value="control_drc_gain"/>
                  <xs:pattern value="control_exp_time_ratio"/>
                  <xs:pattern value="control_aec_exp_sensitivity_ratio"/>
                  <xs:pattern value="control_exp_gain_ratio"/>
                  <xs:pattern value="control_lux_idx"/>
                  <xs:pattern value="control_gain"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="default_value" type="xs:string" default="control_drc_gain, control_exp_time_ratio, control_lux_idx"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="control_method">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="aec_exp_control" type="tuning_control_aec_type" default="control_lux_idx"/>
            <xs:element name="aec_hdr_control" type="tuning_control_aec_hdr_type" default="control_exp_time_ratio"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="chromatix_shdr10_core" type="chromatix_shdr10_coreType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chromatix_shdr10_coreType">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="mod_shdr10_drc_gain_data" type="mod_shdr10_drc_gain_dataType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_shdr10_drc_gain_dataType">
    <xs:sequence>
      <xs:element name="drc_gain_trigger" type="trigger_pt_type"/>
      <xs:element name="drc_gain_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_shdr10_hdr_aec_data" type="mod_shdr10_hdr_aec_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_shdr10_hdr_aec_dataType">
    <xs:sequence>
      <xs:element name="hdr_aec_trigger" type="trigger_pt_type_aec_hdr"/>
      <xs:element name="hdr_aec_data">
        <xs:complexType>
          <xs:sequence maxOccurs="unbounded">
            <xs:element name="mod_shdr10_aec_data" type="mod_shdr10_aec_dataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mod_shdr10_aec_dataType">
    <xs:sequence>
      <xs:element name="aec_trigger" type="trigger_pt_type_aec"/>
      <xs:element name="shdr10_rgn_data" type="shdr10_rgn_dataType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shdr10_rgn_dataType">
    <xs:sequence>
      <xs:element name="anchor_frame">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Anchor frame for the motion regions"/>
              <xs:attribute name="default_value" type="xs:string" default="0"/>
              <xs:attribute name="range" type="xs:string" default="[0,255]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="motion regions will be picked from short by default. Under low light conditions the motion regions needs to be picked from the long"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="hl_blending_weight">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
              <xs:attribute name="type" default="uint"/>
              <xs:attribute name="description" type="xs:string" default="Controls the amount of blending from high light regions in motion areas. May cause artifacts if anchor frame is set to high"/>
              <xs:attribute name="default_value" type="xs:string" default="128"/>
              <xs:attribute name="range" type="xs:string" default="[0,128]"/>
              <xs:attribute name="bit_depth" type="xs:string" default="8uQ0"/>
              <xs:attribute name="length" type="xs:int" fixed="1"/>
              <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
              <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
              <xs:attribute name="additional_notes" type="xs:string" default="none"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="gtm_companding_tbl_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="gtm_companding_tbl">
              <xs:simpleType>
                <xs:restriction base="floatvar">
                  <xs:length value="136"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="float"/>
          <xs:attribute name="description" type="xs:string" default="Companding table to be used for snapshot mode if exposure ratio is > 64x"/>
          <xs:attribute name="default_value" type="xs:string" default="1.0875 0.5495 0.5232 0.5164 0.5128 0.5107 0.5073 0.5059 0.5052 0.5047 0.5043 0.5040 0.5038 0.5037 0.5028 0.4992 0.4954 0.4926 0.4907 0.4897 0.4889 0.4879 0.4871 0.4865 0.4860 0.4856 0.4851 0.4845 0.4839 0.4830 0.4819 0.4806 0.4791 0.4775 0.4758 0.4741 0.4720 0.4698 0.4675 0.4651 0.4626 0.4593 0.4555 0.4515 0.4471 0.4423 0.4366 0.4310 0.4258 0.4209 0.4162 0.4113 0.4067 0.4023 0.3981 0.3941 0.3900 0.3861 0.3826 0.3792 0.3761 0.3729 0.3700 0.3673 0.3649 0.3632 0.3625 0.3611 0.3590 0.3569 0.3547 0.3523 0.3499 0.3474 0.3452 0.3429 0.3405 0.3381 0.3357 0.3334 0.3310 0.3287 0.3264 0.3241 0.3220 0.3199 0.3177 0.3157 0.3136 0.3117 0.3097 0.3078 0.3059 0.3041 0.3023 0.3006 0.2988 0.2970 0.2953 0.2937 0.2920 0.2903 0.2887 0.2871 0.2856 0.2841 0.2825 0.2810 0.2796 0.2781 0.2767 0.2753 0.2739 0.2725 0.2711 0.2698 0.2685 0.2672 0.2659 0.2647 0.2634 0.2622 0.2610 0.2598 0.2586 0.2574 0.2563 0.2551 0.2540 0.2529 0.2518 0.2515 0.2511 0.2507 0.2504 0.2500"/>
          <xs:attribute name="range" type="xs:string" default="[0.25,4]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="32uQ8"/>
          <xs:attribute name="length" type="xs:int" fixed="136"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="scale_mask_tab">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="scale_mask">
              <xs:simpleType>
                <xs:restriction base="uintvar">
                  <xs:length value="257"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="type" default="uint"/>
          <xs:attribute name="description" type="xs:string" default="scale mask use to generate the saturated area pixels"/>
          <xs:attribute name="default_value" type="xs:string" default="255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 255 246 237 229 220 211 202 193 185 176 167 158 149 141 132 123 114 105 97 88 79 70 61 53 44 35 26 17 9 0 0 0 0 0 0 0 0 0"/>
          <xs:attribute name="range" type="xs:string" default="[0,255]"/>
          <xs:attribute name="bit_depth" type="xs:string" default="8uQ0"/>
          <xs:attribute name="length" type="xs:int" fixed="257"/>
          <xs:attribute name="conversion" type="xs:string" default="no conversion needed"/>
          <xs:attribute name="tuning_parameter_level" type="tuning_level" default="often_tune"/>
          <xs:attribute name="additional_notes" type="xs:string" default="none"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
